@layer components {
  .announcement-banner__inner {
    @apply flex
    items-start
    gap-2
    relative
    max-w-container-full-p
    py-4
    px-6
    mx-auto;
  }

  .announcement-banner {
    @apply text-white;
  }

  .announcement-banner--primary,
  .announcement-banner--primary .announcement-banner__expand {
    @apply bg-primary-500;
  }

  .announcement-banner--secondary,
  .announcement-banner--secondary .announcement-banner__expand {
    @apply bg-secondary-600;
  }

  .announcement-banner--dark,
  .announcement-banner--dark .announcement-banner__expand {
    @apply bg-neutral-700;
  }

  .announcement-banner__content {
    @apply relative
    pr-12
    sm:max-w-[calc(100%_-_2.75rem)];
  }

  .announcement-banner__content > p {
    @apply text-sm
    leading-normal
    overflow-hidden
    sm:text-base;
  }

  .announcement-banner__content[aria-expanded="false"] > p {
    @apply max-h-[2.625rem]
    sm:max-h-[1.5rem]
    sm:pr-[6.75rem]
    sm:break-all;
  }

  .announcement-banner__content[aria-expanded="true"] > p {
    @apply inline;
  }

  .announcement-banner__content > p > a {
    @apply text-white;
  }

  .announcement-banner__icon {
    @apply mt-1;
  }

  .announcement-banner__close {
    @apply absolute
    top-1
    right-2
    flex
    items-center
    justify-center
    w-12
    h-12
    mt-0
    transition-opacity
    duration-200
    active:opacity-80
    sm:top-1.5;
  }

  @media (hover: hover) {
    .announcement-banner__expand span,
    .announcement-banner__close {
      @apply hover:opacity-80
      active:opacity-80;
    }
  }

  .announcement-banner__expand {
    @apply inline-block
    leading-normal
    text-sm
    mt-0
    sm:text-base
    
    before:content-["..."]
    before:mr-1
    before:font-normal
    before:hidden;
  }

  .announcement-banner__expand span {
    @apply font-semibold
    underline
    transition-opacity
    duration-200
    active:opacity-80;
  }

  .announcement-banner__content[aria-expanded="false"]
    .announcement-banner__expand {
    @apply absolute
    bottom-0
    right-12
    z-10
    max-sm:pl-1

    sm:before:inline;
  }

  .announcement-banner--primary
    .announcement-banner__content[aria-expanded="false"]
    .announcement-banner__expand {
    @apply max-sm:shadow-[-12px_0px_12px_0px_theme(colors.primary.500)];
  }

  .announcement-banner--secondary
    .announcement-banner__content[aria-expanded="false"]
    .announcement-banner__expand {
    @apply max-sm:shadow-[-10px_0px_6px_theme(colors.secondary.600)];
  }

  .announcement-banner--dark
    .announcement-banner__content[aria-expanded="false"]
    .announcement-banner__expand {
    @apply max-sm:shadow-[-10px_0px_6px_theme(colors.neutral.700)];
  }
}
