@layer base {
  .badge {
    @apply inline-block
    text-primary-700
    bg-primary-50
    w-fit
    px-2
    py-1
    text-left
    text-xs
    font-semibold
    leading-normal
    border
    rounded
    border-primary-100;
  }

  .badge-row {
    @apply mt-3
    flex
    gap-2
    lg:mt-4;
  }

  .badge.badge-sm {
    @apply px-1.5
    py-0;
  }

  .badge.badge-red {
    @apply bg-secondary-50
    text-secondary-900
    border-secondary-100;
  }

  .badge.badge-red.badge-dark {
    @apply bg-secondary-600
    text-white
    border-secondary-600;
  }

  .badge.badge-white-primary {
    @apply bg-white
    text-primary-600
    border-white;
  }

  .badge.badge-white-secondary {
    @apply bg-white
    text-secondary-600
    border-white;
  }

  .badge-social-media {
    @apply py-2
    px-4
    bg-neutral-50
    text-neutral-800
    border-neutral-100
    rounded-lg
    text-sm
    cursor-pointer
    transition-all
    duration-300;
  }

  .badge-social-media:hover {
    @apply py-2
    px-4
    bg-primary-50
    text-neutral-800
    border-primary-100
    rounded-lg
    text-sm
    cursor-pointer;
  }

  .badge img {
    @apply mr-2
    max-w-[0.875rem];
  }

  .badge.badge-dark-blue {
    @apply bg-primary-100 
    text-primary-700 
    border-primary-200 
    whitespace-nowrap 
    py-2 
    px-4 
    rounded-lg;
  }

  .badge .inner-badge {
    @apply font-sans 
    px-2 
    justify-center 
    items-center 
    gap-2 
    rounded 
    bg-semantic-corn 
    text-[#2B2D35] 
    text-center 
    ml-2 
    font-bold 
    leading-[1.125rem] 
    text-xs 
    w-fit 
    inline-flex;
  }

  .badge.badge-yellow {
    @apply bg-semantic-corn
    text-[#2B2D35]
    border-semantic-corn 
    whitespace-nowrap 
    px-2 
    py-0 
    rounded-lg 
    text-base 
    leading-7 
    ml-2 
    font-bold;
  }

  .bigger-badge-wrapper {
    @apply flex
    flex-wrap
    gap-6
    mt-4 
    mb-12;
  }

  .bigger-badge {
    @apply box-border
    shrink-0
    grow-0
    basis-[calc(50%_-_1.5rem)]
    min-w-full
    px-5
    !py-4
    bg-primary-50
    border-primary-100
    whitespace-nowrap 
    rounded-lg
    border-4
    md:min-w-[auto]
    md:!py-6
    md:!px-6;
  }

  .bigger-badge-wrapper .bigger-badge:nth-child(even) {
    @apply grow-0
    shrink-0
    basis-1/2;
  }

  .bigger-badge-wrapper label {
    @apply font-heading text-neutral-800 text-base !font-normal leading-7;
  }

  .badge.bigger-badge .badge-row {
    @apply m-0;
  }

  .badge-col {
    @apply flex flex-wrap gap-2;
  }

  .badge-col .badge {
    @apply m-0;
  }

  .clickable-badge {
    @apply cursor-pointer;
  }

  .clickable-badge .badge.badge-dark-blue,
  .clickable-badge .badge.badge-dark-blue .inner-badge {
    @apply transition-all
    duration-300;
  }

  .clickable-badge:hover .badge.badge-dark-blue {
    @apply !bg-secondary-50
    !text-secondary-500
    !border-secondary-100;
  }

  .clickable-badge:hover .badge.badge-dark-blue .inner-badge {
    @apply !bg-secondary-500
    !text-white;
  }
}
