/*========================================
  Overseas - bottom banner
========================================*/
@layer base {
  .bottom-banner,
  .bottom-banner .content-area {
    @apply flex
    flex-col;
  }

  .bottom-banner {
    @apply flex
    overflow-hidden
    bg-neutral-800;
  }

  .bottom-banner .content-area {
    @apply relative
    items-start
    justify-center
    grow
    w-full 
    h-full
    px-6
    z-20;
  }

  .bottom-banner .content-area > div,
  .bottom-banner-breadcrumb {
    @apply w-full
    max-w-container-full-sm
    mx-auto;
  }

  .bottom-banner .content-area > div {
    @apply grow
    flex
    flex-col
    items-start
    pt-6
    pb-14
    sm:pb-20
    md:pt-20;
  }

  .navbar.navbar-transparent.is-transparent
    + main
    > .page-banner-carousel.only-page:first-of-type
    .content-area
    > div {
    @apply md:pt-10;
  }

  .page-banner-carousel.only-page .content-area > div {
    @apply md:justify-center;
  }

  .page-banner-carousel .bottom-banner .content-area > div {
    @apply max-md:pt-4;
  }

  .bottom-banner-breadcrumb-wrapper {
    @apply absolute
    top-0
    left-0
    w-full
    px-6
    pt-6
    z-40
    drop-shadow-text
    sm:pt-10;
  }

  .bottom-banner-breadcrumb-wrapper
    ~ .page-banner-carousel-items
    > .page-banner-carousel-item {
    @apply md:pt-10;
  }

  .navbar.navbar-transparent.is-transparent
    + main
    > .page-banner-carousel:first-of-type
    .bottom-banner-breadcrumb-wrapper {
    @apply pt-[5.25rem]
    sm:pt-[5.75rem];
  }

  .bottom-banner-heading,
  .bottom-banner .content-area p {
    @apply max-w-container-sm;
  }

  .page-banner-carousel .bottom-banner-heading,
  .page-banner-carousel .bottom-banner .content-area p {
    @apply max-w-[46.625rem];
  }

  .bottom-banner .bottom-banner-heading,
  .bottom-banner p,
  .bottom-banner .paragraph-1,
  .bottom-banner .paragraph-2,
  .bottom-banner .paragraph-3 {
    @apply text-white;
  }

  .bottom-banner .bottom-banner-heading,
  .bottom-banner p {
    @apply drop-shadow-text;
  }

  .bottom-banner .bottom-banner-heading {
    @apply font-bold;
  }

  .bottom-banner p {
    @apply max-sm:leading-loose;
  }

  .bottom-banner button {
    @apply mt-6
    md:mt-8;
  }

  .bottom-banner .inner {
    @apply w-[min(100vw,_2560px)] /* Upper boundary limit */
    mx-auto /* Upper boundary limit */
    h-[min(56.25vw,_1440px)]
    relative
    md:absolute
    md:top-0
    md:left-0
    md:h-full

    before:content-[""]
    before:block
    before:absolute
    before:top-0
    before:left-0
    before:w-full
    before:h-full
    before:bg-bottom-banner-gradient-top
    before:z-10
    
    after:content-[""]
    after:block
    after:absolute
    after:top-0
    after:left-0
    after:w-full
    after:h-full
    after:bg-bottom-banner-gradient-bottom
    after:z-10
    md:after:bg-bottom-banner-gradient-bottom-md
    lg:after:bg-bottom-banner-gradient-bottom-lg;
  }

  .page-banner-carousel .bottom-banner .inner {
    @apply lg:after:bg-bottom-banner-gradient-bottom-lg-carousel;
  }

  .bottom-banner .inner img {
    @apply relative
    h-full
    w-full
    object-cover
    object-center
    z-0;
  }

  .bottom-banner .bottom-banner-heading + p {
    @apply mt-4;
  }

  .bottom-banner * + .button,
  .bottom-banner * + button,
  .bottom-banner * + .button-primary,
  .bottom-banner * + .button-secondary,
  .bottom-banner * + .button-tertiary,
  .bottom-banner * + .button-grey,
  .bottom-banner * + .button-grey-dark,
  .bottom-banner * + .button-ghost-primary,
  .bottom-banner * + .button-ghost-secondary,
  .bottom-banner * + .button-ghost-tertiary,
  .bottom-banner * + .button-ghost-grey,
  .bottom-banner * + .button-white-primary,
  .bottom-banner * + .button-white-secondary,
  .bottom-banner * + .button-white-tertiary,
  .bottom-banner * + .button-white-grey,
  .bottom-banner * + .button-white-ghost-primary,
  .bottom-banner * + .button-white-ghost-secondary,
  .bottom-banner * + .button-white-ghost-tertiary,
  .bottom-banner * + .button-white-ghost-grey,
  .bottom-banner * + .button-text-primary,
  .bottom-banner * + .button-text-secondary,
  .bottom-banner * + .button-text-tertiary,
  .bottom-banner * + .button-text-grey,
  .bottom-banner * + .button-text-white,
  .bottom-banner * + .banner-button,
  .bottom-banner-buttons {
    @apply mt-6
    sm:mt-8;
  }

  .bottom-banner-buttons {
    @apply flex
    flex-wrap
    gap-6;
  }

  .bottom-banner-buttons > .button,
  .bottom-banner-buttons > button,
  .bottom-banner-buttons > .button-primary,
  .bottom-banner-buttons > .button-secondary,
  .bottom-banner-buttons > .button-tertiary,
  .bottom-banner-buttons > .button-grey,
  .bottom-banner-buttons > .button-grey-dark,
  .bottom-banner-buttons > .button-ghost-primary,
  .bottom-banner-buttons > .button-ghost-secondary,
  .bottom-banner-buttons > .button-ghost-tertiary,
  .bottom-banner-buttons > .button-ghost-grey,
  .bottom-banner-buttons > .button-white-primary,
  .bottom-banner-buttons > .button-white-secondary,
  .bottom-banner-buttons > .button-white-tertiary,
  .bottom-banner-buttons > .button-white-grey,
  .bottom-banner-buttons > .button-white-ghost-primary,
  .bottom-banner-buttons > .button-white-ghost-secondary,
  .bottom-banner-buttons > .button-white-ghost-tertiary,
  .bottom-banner-buttons > .button-white-ghost-grey,
  .bottom-banner-buttons > .button-text-primary,
  .bottom-banner-buttons > .button-text-secondary,
  .bottom-banner-buttons > .button-text-tertiary,
  .bottom-banner-buttons > .button-text-grey,
  .bottom-banner-buttons > .button-text-white,
  .bottom-banner-buttons > .banner-button {
    @apply mt-0
    sm:mt-0;
  }

  .banner-pages-wrapper {
    @apply hidden
    relative
    w-full
    px-6
    pt-6
    pb-10
    z-30
    md:block
    md:-mt-20

    before:content-[""]
    before:block
    before:absolute
    before:left-0
    before:bottom-0
    before:w-full
    before:h-full
    before:bg-bottom-banner-page-gradient
    before:-z-10;
  }

  .banner-pages-wrapper-m {
    @apply flex
    justify-between
    items-center
    flex-wrap
    gap-6
    px-6
    pb-10
    -mt-5
    md:hidden;
  }

  .page-banner-carousel.only-page .banner-pages-wrapper-m {
    @apply justify-end;
  }

  .banner-pages-wrapper-m > * {
    @apply !mt-0;
  }

  .banner-pages-inner {
    @apply relative
    flex
    flex-col
    items-start
    w-full
    max-w-container-full-sm
    mx-auto
    gap-6
    z-30;
  }

  .banner-pages {
    @apply relative
    flex
    w-min
    min-w-full
    
    before:-top-[0.1875rem]
    before:h-[0.1875rem];
  }

  .page-banner-carousel.only-page .banner-pages {
    @apply hidden;
  }

  .banner-pages,
  .page-banner-carousel {
    @apply before:content-[""]
    before:absolute
    before:left-0
    before:block
    before:w-full
    before:bg-white/30;
  }

  .page-banner-carousel {
    @apply relative

    before:bottom-0
    before:h-1
    before:z-30
    md:before:hidden;
  }

  .page-banner-carousel.only-page {
    @apply before:hidden;
  }

  .banner-pages-button {
    @apply flex
    justify-end
    w-full
    px-4;
  }

  .banner-pages-button .button-text-white {
    @apply drop-shadow-text;
  }

  .banner-pages > li {
    @apply w-1/4
    grow;
  }

  .banner-page-item {
    @apply relative
    flex
    flex-col
    justify-center
    w-full
    p-4
    gap-2
    text-white
    no-underline
    transition-opacity
    duration-200;
  }

  @media (hover: hover) {
    .banner-page-item {
      @apply hover:opacity-75;
    }

    a.banner-page-item {
      @apply hover:text-white;
    }
  }

  .banner-page-item-caption {
    @apply opacity-80
    text-xs
    drop-shadow-text;
  }

  .banner-page-item-title {
    @apply text-lg 
    leading-tight
    drop-shadow-text
    sm:leading-loose;
  }

  .page-banner-carousel-items {
    @apply relative
    flex
    flex-col
    grow;
  }

  .page-banner-carousel-item {
    @apply relative
    w-full
    flex-col
    grow
    hidden
    transition-all
    duration-300
    opacity-0
    z-20;
  }

  .page-banner-carousel.only-page .page-banner-carousel-item {
    @apply flex
    opacity-100;
  }

  .page-banner-carousel-item.show {
    @apply flex
    opacity-100
    z-20;
  }

  .page-banner-carousel-item.showing {
    @apply flex
    animate-fadein
    z-20;
  }

  .page-banner-carousel-item.hiding {
    @apply !absolute
    top-0
    left-0
    flex
    animate-fadeout;
  }
}

.banner-page-bar,
.banner-page-bar-full {
  @apply block
  absolute
  left-0
  w-0
  bg-white
  z-30;
}

.banner-page-bar {
  @apply -top-[0.1875rem]
  h-[0.1875rem];
}

.banner-page-bar-full {
  @apply bottom-0
  h-1
  md:hidden;
}
