@layer base {
  /*========================================
    Buttons 
  ========================================*/
  button,
  .button,
  .button-primary,
  .button-secondary,
  .button-tertiary,
  .button-grey,
  .button-grey-dark,
  .button-ghost-primary,
  .button-ghost-secondary,
  .button-ghost-tertiary,
  .button-ghost-grey,
  .button-white-primary,
  .button-white-secondary,
  .button-white-tertiary,
  .button-white-grey,
  .button-white-ghost-primary,
  .button-white-ghost-secondary,
  .button-white-ghost-tertiary,
  .button-white-ghost-grey,
  .button-text-primary,
  .button-text-secondary,
  .button-text-tertiary,
  .button-text-grey,
  .button-text-white {
    @apply box-border
    inline-flex
    items-center
    justify-center
    outline-primary-200
    text-base
    font-semibold
    leading-none
    no-underline
    shrink-0
    text-center
    break-words
    duration-200
    [&:not([disabled])]:cursor-pointer;

    word-break: break-word;
    transition-property: color, background-color, border-color, box-shadow,
      opacity;
  }

  p + button,
  p + .button,
  p + .button-primary,
  p + .button-secondary,
  p + .button-tertiary,
  p + .button-grey,
  p + .button-grey-dark,
  p + .button-ghost-primary,
  p + .button-ghost-secondary,
  p + .button-ghost-tertiary,
  p + .button-ghost-grey,
  p + .button-white-primary,
  p + .button-white-secondary,
  p + .button-white-tertiary,
  p + .button-white-grey,
  p + .button-white-ghost-primary,
  p + .button-white-ghost-secondary,
  p + .button-white-ghost-tertiary,
  p + .button-white-ghost-grey,
  p + .button-text-primary,
  p + .button-text-secondary,
  p + .button-text-tertiary,
  p + .button-text-grey,
  p + .button-text-white,
  .display-1 + button,
  .display-1 + .button,
  .display-1 + .button-primary,
  .display-1 + .button-secondary,
  .display-1 + .button-tertiary,
  .display-1 + .button-grey,
  .display-1 + .button-grey-dark,
  .display-1 + .button-ghost-primary,
  .display-1 + .button-ghost-secondary,
  .display-1 + .button-ghost-tertiary,
  .display-1 + .button-ghost-grey,
  .display-1 + .button-white-primary,
  .display-1 + .button-white-secondary,
  .display-1 + .button-white-tertiary,
  .display-1 + .button-white-grey,
  .display-1 + .button-white-ghost-primary,
  .display-1 + .button-white-ghost-secondary,
  .display-1 + .button-white-ghost-tertiary,
  .display-1 + .button-white-ghost-grey,
  .display-1 + .button-text-primary,
  .display-1 + .button-text-secondary,
  .display-1 + .button-text-tertiary,
  .display-1 + .button-text-grey,
  .display-1 + .button-text-white,
  .display-2 + button,
  .display-2 + .button,
  .display-2 + .button-primary,
  .display-2 + .button-secondary,
  .display-2 + .button-tertiary,
  .display-2 + .button-grey,
  .display-2 + .button-grey-dark,
  .display-2 + .button-ghost-primary,
  .display-2 + .button-ghost-secondary,
  .display-2 + .button-ghost-tertiary,
  .display-2 + .button-ghost-grey,
  .display-2 + .button-white-primary,
  .display-2 + .button-white-secondary,
  .display-2 + .button-white-tertiary,
  .display-2 + .button-white-grey,
  .display-2 + .button-white-ghost-primary,
  .display-2 + .button-white-ghost-secondary,
  .display-2 + .button-white-ghost-tertiary,
  .display-2 + .button-white-ghost-grey,
  .display-2 + .button-text-primary,
  .display-2 + .button-text-secondary,
  .display-2 + .button-text-tertiary,
  .display-2 + .button-text-grey,
  .display-2 + .button-text-white,
  h1 + button,
  h1 + .button,
  h1 + .button-primary,
  h1 + .button-secondary,
  h1 + .button-tertiary,
  h1 + .button-grey,
  h1 + .button-grey-dark,
  h1 + .button-ghost-primary,
  h1 + .button-ghost-secondary,
  h1 + .button-ghost-tertiary,
  h1 + .button-ghost-grey,
  h1 + .button-white-primary,
  h1 + .button-white-secondary,
  h1 + .button-white-tertiary,
  h1 + .button-white-grey,
  h1 + .button-white-ghost-primary,
  h1 + .button-white-ghost-secondary,
  h1 + .button-white-ghost-tertiary,
  h1 + .button-white-ghost-grey,
  h1 + .button-text-primary,
  h1 + .button-text-secondary,
  h1 + .button-text-tertiary,
  h1 + .button-text-grey,
  h1 + .button-text-white,
  h2 + button,
  h2 + .button,
  h2 + .button-primary,
  h2 + .button-secondary,
  h2 + .button-tertiary,
  h2 + .button-grey,
  h2 + .button-grey-dark,
  h2 + .button-ghost-primary,
  h2 + .button-ghost-secondary,
  h2 + .button-ghost-tertiary,
  h2 + .button-ghost-grey,
  h2 + .button-white-primary,
  h2 + .button-white-secondary,
  h2 + .button-white-tertiary,
  h2 + .button-white-grey,
  h2 + .button-white-ghost-primary,
  h2 + .button-white-ghost-secondary,
  h2 + .button-white-ghost-tertiary,
  h2 + .button-white-ghost-grey,
  h2 + .button-text-primary,
  h2 + .button-text-secondary,
  h2 + .button-text-tertiary,
  h2 + .button-text-grey,
  h2 + .button-text-white,
  h3 + button,
  h3 + .button,
  h3 + .button-primary,
  h3 + .button-secondary,
  h3 + .button-tertiary,
  h3 + .button-grey,
  h3 + .button-grey-dark,
  h3 + .button-ghost-primary,
  h3 + .button-ghost-secondary,
  h3 + .button-ghost-tertiary,
  h3 + .button-ghost-grey,
  h3 + .button-white-primary,
  h3 + .button-white-secondary,
  h3 + .button-white-tertiary,
  h3 + .button-white-grey,
  h3 + .button-white-ghost-primary,
  h3 + .button-white-ghost-secondary,
  h3 + .button-white-ghost-tertiary,
  h3 + .button-white-ghost-grey,
  h3 + .button-text-primary,
  h3 + .button-text-secondary,
  h3 + .button-text-tertiary,
  h3 + .button-text-grey,
  h3 + .button-text-white,
  h4 + button,
  h4 + .button,
  h4 + .button-primary,
  h4 + .button-secondary,
  h4 + .button-tertiary,
  h4 + .button-grey,
  h4 + .button-grey-dark,
  h4 + .button-ghost-primary,
  h4 + .button-ghost-secondary,
  h4 + .button-ghost-tertiary,
  h4 + .button-ghost-grey,
  h4 + .button-white-primary,
  h4 + .button-white-secondary,
  h4 + .button-white-tertiary,
  h4 + .button-white-grey,
  h4 + .button-white-ghost-primary,
  h4 + .button-white-ghost-secondary,
  h4 + .button-white-ghost-tertiary,
  h4 + .button-white-ghost-grey,
  h4 + .button-text-primary,
  h4 + .button-text-secondary,
  h4 + .button-text-tertiary,
  h4 + .button-text-grey,
  h4 + .button-text-white,
  h5 + button,
  h5 + .button,
  h5 + .button-primary,
  h5 + .button-secondary,
  h5 + .button-tertiary,
  h5 + .button-grey,
  h5 + .button-grey-dark,
  h5 + .button-ghost-primary,
  h5 + .button-ghost-secondary,
  h5 + .button-ghost-tertiary,
  h5 + .button-ghost-grey,
  h5 + .button-white-primary,
  h5 + .button-white-secondary,
  h5 + .button-white-tertiary,
  h5 + .button-white-grey,
  h5 + .button-white-ghost-primary,
  h5 + .button-white-ghost-secondary,
  h5 + .button-white-ghost-tertiary,
  h5 + .button-white-ghost-grey,
  h5 + .button-text-primary,
  h5 + .button-text-secondary,
  h5 + .button-text-tertiary,
  h5 + .button-text-grey,
  h5 + .button-text-white,
  h6 + button,
  h6 + .button,
  h6 + .button-primary,
  h6 + .button-secondary,
  h6 + .button-tertiary,
  h6 + .button-grey,
  h6 + .button-grey-dark,
  h6 + .button-ghost-primary,
  h6 + .button-ghost-secondary,
  h6 + .button-ghost-tertiary,
  h6 + .button-ghost-grey,
  h6 + .button-white-primary,
  h6 + .button-white-secondary,
  h6 + .button-white-tertiary,
  h6 + .button-white-grey,
  h6 + .button-white-ghost-primary,
  h6 + .button-white-ghost-secondary,
  h6 + .button-white-ghost-tertiary,
  h6 + .button-white-ghost-grey,
  h6 + .button-text-primary,
  h6 + .button-text-secondary,
  h6 + .button-text-tertiary,
  h6 + .button-text-grey,
  h6 + .button-text-white,
  .h1 + button,
  .h1 + .button,
  .h1 + .button-primary,
  .h1 + .button-secondary,
  .h1 + .button-tertiary,
  .h1 + .button-grey,
  .h1 + .button-grey-dark,
  .h1 + .button-ghost-primary,
  .h1 + .button-ghost-secondary,
  .h1 + .button-ghost-tertiary,
  .h1 + .button-ghost-grey,
  .h1 + .button-white-primary,
  .h1 + .button-white-secondary,
  .h1 + .button-white-tertiary,
  .h1 + .button-white-grey,
  .h1 + .button-white-ghost-primary,
  .h1 + .button-white-ghost-secondary,
  .h1 + .button-white-ghost-tertiary,
  .h1 + .button-white-ghost-grey,
  .h1 + .button-text-primary,
  .h1 + .button-text-secondary,
  .h1 + .button-text-tertiary,
  .h1 + .button-text-grey,
  .h1 + .button-text-white,
  .h2 + button,
  .h2 + .button,
  .h2 + .button-primary,
  .h2 + .button-secondary,
  .h2 + .button-tertiary,
  .h2 + .button-grey,
  .h2 + .button-grey-dark,
  .h2 + .button-ghost-primary,
  .h2 + .button-ghost-secondary,
  .h2 + .button-ghost-tertiary,
  .h2 + .button-ghost-grey,
  .h2 + .button-white-primary,
  .h2 + .button-white-secondary,
  .h2 + .button-white-tertiary,
  .h2 + .button-white-grey,
  .h2 + .button-white-ghost-primary,
  .h2 + .button-white-ghost-secondary,
  .h2 + .button-white-ghost-tertiary,
  .h2 + .button-white-ghost-grey,
  .h2 + .button-text-primary,
  .h2 + .button-text-secondary,
  .h2 + .button-text-tertiary,
  .h2 + .button-text-grey,
  .h2 + .button-text-white,
  .h3 + button,
  .h3 + .button,
  .h3 + .button-primary,
  .h3 + .button-secondary,
  .h3 + .button-tertiary,
  .h3 + .button-grey,
  .h3 + .button-grey-dark,
  .h3 + .button-ghost-primary,
  .h3 + .button-ghost-secondary,
  .h3 + .button-ghost-tertiary,
  .h3 + .button-ghost-grey,
  .h3 + .button-white-primary,
  .h3 + .button-white-secondary,
  .h3 + .button-white-tertiary,
  .h3 + .button-white-grey,
  .h3 + .button-white-ghost-primary,
  .h3 + .button-white-ghost-secondary,
  .h3 + .button-white-ghost-tertiary,
  .h3 + .button-white-ghost-grey,
  .h3 + .button-text-primary,
  .h3 + .button-text-secondary,
  .h3 + .button-text-tertiary,
  .h3 + .button-text-grey,
  .h3 + .button-text-white,
  .h4 + button,
  .h4 + .button,
  .h4 + .button-primary,
  .h4 + .button-secondary,
  .h4 + .button-tertiary,
  .h4 + .button-grey,
  .h4 + .button-grey-dark,
  .h4 + .button-ghost-primary,
  .h4 + .button-ghost-secondary,
  .h4 + .button-ghost-tertiary,
  .h4 + .button-ghost-grey,
  .h4 + .button-white-primary,
  .h4 + .button-white-secondary,
  .h4 + .button-white-tertiary,
  .h4 + .button-white-grey,
  .h4 + .button-white-ghost-primary,
  .h4 + .button-white-ghost-secondary,
  .h4 + .button-white-ghost-tertiary,
  .h4 + .button-white-ghost-grey,
  .h4 + .button-text-primary,
  .h4 + .button-text-secondary,
  .h4 + .button-text-tertiary,
  .h4 + .button-text-grey,
  .h4 + .button-text-white,
  .h5 + button,
  .h5 + .button,
  .h5 + .button-primary,
  .h5 + .button-secondary,
  .h5 + .button-tertiary,
  .h5 + .button-grey,
  .h5 + .button-grey-dark,
  .h5 + .button-ghost-primary,
  .h5 + .button-ghost-secondary,
  .h5 + .button-ghost-tertiary,
  .h5 + .button-ghost-grey,
  .h5 + .button-white-primary,
  .h5 + .button-white-secondary,
  .h5 + .button-white-tertiary,
  .h5 + .button-white-grey,
  .h5 + .button-white-ghost-primary,
  .h5 + .button-white-ghost-secondary,
  .h5 + .button-white-ghost-tertiary,
  .h5 + .button-white-ghost-grey,
  .h5 + .button-text-primary,
  .h5 + .button-text-secondary,
  .h5 + .button-text-tertiary,
  .h5 + .button-text-grey,
  .h5 + .button-text-white,
  .h6 + button,
  .h6 + .button,
  .h6 + .button-primary,
  .h6 + .button-secondary,
  .h6 + .button-tertiary,
  .h6 + .button-grey,
  .h6 + .button-grey-dark,
  .h6 + .button-ghost-primary,
  .h6 + .button-ghost-secondary,
  .h6 + .button-ghost-tertiary,
  .h6 + .button-ghost-grey,
  .h6 + .button-white-primary,
  .h6 + .button-white-secondary,
  .h6 + .button-white-tertiary,
  .h6 + .button-white-grey,
  .h6 + .button-white-ghost-primary,
  .h6 + .button-white-ghost-secondary,
  .h6 + .button-white-ghost-tertiary,
  .h6 + .button-white-ghost-grey,
  .h6 + .button-text-primary,
  .h6 + .button-text-secondary,
  .h6 + .button-text-tertiary,
  .h6 + .button-text-grey,
  .h6 + .button-text-white {
    @apply mt-6;
  }

  button * + *,
  .button * + *,
  .button-primary * + *,
  .button-secondary * + *,
  .button-tertiary * + *,
  .button-grey * + *,
  .button-grey-dark * + *,
  .button-ghost-primary * + *,
  .button-ghost-secondary * + *,
  .button-ghost-tertiary * + *,
  .button-ghost-grey * + *,
  .button-white-primary * + *,
  .button-white-secondary * + *,
  .button-white-tertiary * + *,
  .button-white-grey * + *,
  .button-white-ghost-primary * + *,
  .button-white-ghost-secondary * + *,
  .button-white-ghost-tertiary * + *,
  .button-white-ghost-grey * + *,
  .button-text-primary * + *,
  .button-text-secondary * + *,
  .button-text-tertiary * + *,
  .button-text-grey * + *,
  .button-text-white * + * {
    @apply ml-2;
  }

  button .visually-hidden + *,
  .button .visually-hidden + *,
  .button-primary .visually-hidden + *,
  .button-secondary .visually-hidden + *,
  .button-tertiary .visually-hidden + *,
  .button-grey .visually-hidden + *,
  .button-grey-dark .visually-hidden + *,
  .button-ghost-primary .visually-hidden + *,
  .button-ghost-secondary .visually-hidden + *,
  .button-ghost-tertiary .visually-hidden + *,
  .button-ghost-grey .visually-hidden + *,
  .button-white-primary .visually-hidden + *,
  .button-white-secondary .visually-hidden + *,
  .button-white-tertiary .visually-hidden + *,
  .button-white-grey .visually-hidden + *,
  .button-white-ghost-primary .visually-hidden + *,
  .button-white-ghost-secondary .visually-hidden + *,
  .button-white-ghost-tertiary .visually-hidden + *,
  .button-white-ghost-grey .visually-hidden + *,
  .button-text-primary .visually-hidden + *,
  .button-text-secondary .visually-hidden + *,
  .button-text-tertiary .visually-hidden + *,
  .button-text-grey .visually-hidden + *,
  .button-text-white .visually-hidden + *,
  button * + .visually-hidden,
  .button * + .visually-hidden,
  .button-primary * + .visually-hidden,
  .button-secondary * + .visually-hidden,
  .button-tertiary * + .visually-hidden,
  .button-grey * + .visually-hidden,
  .button-grey-dark * + .visually-hidden,
  .button-ghost-primary * + .visually-hidden,
  .button-ghost-secondary * + .visually-hidden,
  .button-ghost-tertiary * + .visually-hidden,
  .button-ghost-grey * + .visually-hidden,
  .button-white-primary * + .visually-hidden,
  .button-white-secondary * + .visually-hidden,
  .button-white-tertiary * + .visually-hidden,
  .button-white-grey * + .visually-hidden,
  .button-white-ghost-primary * + .visually-hidden,
  .button-white-ghost-secondary * + .visually-hidden,
  .button-white-ghost-tertiary * + .visually-hidden,
  .button-white-ghost-grey * + .visually-hidden,
  .button-text-primary * + .visually-hidden,
  .button-text-secondary * + .visually-hidden,
  .button-text-tertiary * + .visually-hidden,
  .button-text-grey * + .visually-hidden,
  .button-text-white * + .visually-hidden {
    @apply -ml-2
    -mr-2;
  }

  .button-primary,
  .button-secondary,
  .button-tertiary,
  .button-grey,
  .button-grey-dark,
  .button-ghost-primary,
  .button-ghost-secondary,
  .button-ghost-tertiary,
  .button-ghost-grey,
  .button-white-primary,
  .button-white-secondary,
  .button-white-tertiary,
  .button-white-grey,
  .button-white-ghost-primary,
  .button-white-ghost-secondary,
  .button-white-ghost-tertiary,
  .button-white-ghost-grey {
    @apply h-13
    px-6
    rounded-full
    outline-4;
  }

  .button-primary[disabled],
  .button-secondary[disabled],
  .button-tertiary[disabled],
  .button-grey[disabled],
  .button-grey-dark[disabled] {
    @apply text-white
    bg-neutral-400
    border-neutral-400
    cursor-default;
  }

  .button-ghost-primary[disabled],
  .button-ghost-secondary[disabled],
  .button-ghost-tertiary[disabled],
  .button-ghost-grey[disabled],
  .button-white-primary[disabled],
  .button-white-secondary[disabled],
  .button-white-tertiary[disabled],
  .button-white-grey[disabled],
  .button-white-ghost-primary[disabled],
  .button-white-ghost-secondary[disabled],
  .button-white-ghost-tertiary[disabled],
  .button-white-ghost-grey[disabled] {
    @apply opacity-50;
  }

  .button-ghost-primary[disabled],
  .button-ghost-secondary[disabled],
  .button-ghost-tertiary[disabled],
  .button-ghost-grey[disabled],
  .button-white-primary[disabled],
  .button-white-secondary[disabled],
  .button-white-tertiary[disabled],
  .button-white-grey[disabled],
  .button-white-ghost-primary[disabled],
  .button-white-ghost-secondary[disabled],
  .button-white-ghost-tertiary[disabled],
  .button-white-ghost-grey[disabled],
  .button-text-primary[disabled],
  .button-text-secondary[disabled],
  .button-text-tertiary[disabled],
  .button-text-grey[disabled],
  .button-text-white[disabled] {
    @apply text-neutral-400
    border-neutral-400
    cursor-default;
  }

  .button-primary.external-link,
  .button-secondary.external-link,
  .button-tertiary.external-link,
  .button-grey.external-link,
  .button-grey-dark.external-link,
  .button-ghost-primary.external-link,
  .button-ghost-secondary.external-link,
  .button-ghost-tertiary.external-link,
  .button-ghost-grey.external-link,
  .button-white-primary.external-link,
  .button-white-secondary.external-link,
  .button-white-tertiary.external-link,
  .button-white-grey.external-link,
  .button-white-ghost-primary.external-link,
  .button-white-ghost-secondary.external-link,
  .button-white-ghost-tertiary.external-link,
  .button-white-ghost-grey.external-link {
    @apply after:top-0
    after:ml-2
    after:transition-colors
    duration-200;
  }

  /* Icon buttons */
  .button-icon {
    @apply w-13
    max-w-[3.25rem]
    min-w-[3.25rem]
    h-13
    px-0
    rounded-full;
  }

  .button-icon.external-link {
    @apply after:ml-0;
  }

  /* Small buttons */
  .button-sm {
    @apply h-12;
  }

  .button-sm.button-icon {
    @apply w-12
    max-w-[3rem]
    min-w-[3rem]
    h-12;
  }

  /* Solid buttons */
  .button-primary,
  .button-secondary,
  .button-tertiary,
  .button-grey,
  .button-grey-dark {
    @apply text-white
    [&:not([disabled])]:active:text-white;
  }

  .banner-button:active .button-primary,
  .banner-button:active .button-secondary,
  .banner-button:active .button-tertiary,
  .banner-button:active .button-grey,
  .banner-button:active .button-grey-dark,
  .card-hover:active .button-primary,
  .card-hover:active .button-secondary,
  .card-hover:active .button-tertiary,
  .card-hover:active .button-grey,
  .card-hover:active .button-grey-dark,
  a.card:active .button-primary,
  a.card:active .button-secondary,
  a.card:active .button-tertiary,
  a.card:active .button-grey,
  a.card:active .button-grey-dark {
    @apply [&:not([disabled])]:text-white;
  }

  @media (hover: hover) {
    .button-primary,
    .button-secondary,
    .button-tertiary,
    .button-grey,
    .button-grey-dark {
      @apply [&:not([disabled])]:hover:text-white;
    }

    .banner-button:hover .button-primary,
    .banner-button:hover .button-secondary,
    .banner-button:hover .button-tertiary,
    .banner-button:hover .button-grey,
    .banner-button:hover .button-grey-dark,
    .card-hover:hover .button-primary,
    .card-hover:hover .button-secondary,
    .card-hover:hover .button-tertiary,
    .card-hover:hover .button-grey,
    .card-hover:hover .button-grey-dark,
    a.card:hover .button-primary,
    a.card:hover .button-secondary,
    a.card:hover .button-tertiary,
    a.card:hover .button-grey,
    a.card:hover .button-grey-dark {
      @apply [&:not([disabled])]:text-white;
    }
  }

  .button-primary.external-link,
  .button-secondary.external-link,
  .button-tertiary.external-link,
  .button-grey.external-link,
  .button-grey-dark.external-link {
    @apply [&:not([disabled])]:after:bg-white
    [&:not([disabled])]:active:after:bg-white;
  }

  .banner-button:active .button-primary.external-link,
  .banner-button:active .button-secondary.external-link,
  .banner-button:active .button-tertiary.external-link,
  .banner-button:active .button-grey.external-link,
  .banner-button:active .button-grey-dark.external-link,
  .card-hover:active .button-primary.external-link,
  .card-hover:active .button-secondary.external-link,
  .card-hover:active .button-tertiary.external-link,
  .card-hover:active .button-grey.external-link,
  .card-hover:active .button-grey-dark.external-link,
  a.card:active .button-primary.external-link,
  a.card:active .button-secondary.external-link,
  a.card:active .button-tertiary.external-link,
  a.card:active .button-grey.external-link,
  a.card:active .button-grey-dark.external-link {
    @apply [&:not([disabled])]:after:bg-white;
  }

  @media (hover: hover) {
    .button-primary.external-link,
    .button-secondary.external-link,
    .button-tertiary.external-link,
    .button-grey.external-link,
    .button-grey-dark.external-link {
      @apply [&:not([disabled])]:hover:after:bg-white;
    }

    .banner-button:hover .button-primary.external-link,
    .banner-button:hover .button-secondary.external-link,
    .banner-button:hover .button-tertiary.external-link,
    .banner-button:hover .button-grey.external-link,
    .banner-button:hover .button-grey-dark.external-link,
    .card-hover:hover .button-primary.external-link,
    .card-hover:hover .button-secondary.external-link,
    .card-hover:hover .button-tertiary.external-link,
    .card-hover:hover .button-grey.external-link,
    .card-hover:hover .button-grey-dark.external-link,
    a.card:hover .button-primary.external-link,
    a.card:hover .button-secondary.external-link,
    a.card:hover .button-tertiary.external-link,
    a.card:hover .button-grey.external-link,
    a.card:hover .button-grey-dark.external-link {
      @apply [&:not([disabled])]:after:bg-white;
    }
  }

  .button-primary {
    @apply bg-primary-500
    [&:not([disabled])]:active:bg-primary-600;
  }

  .banner-button:active .button-primary,
  .card-hover:active .button-primary,
  a.card:active .button-primary {
    @apply [&:not([disabled])]:bg-primary-600;
  }

  @media (hover: hover) {
    .button-primary {
      @apply [&:not([disabled])]:hover:bg-primary-400
      [&:not([disabled])]:active:bg-primary-600;
    }

    .banner-button:hover .button-primary,
    .card-hover:hover .button-primary,
    a.card:hover .button-primary {
      @apply [&:not([disabled])]:bg-primary-400;
    }
  }

  .button-secondary {
    @apply bg-secondary-600
    [&:not([disabled])]:active:bg-secondary-700;
  }

  .banner-button:active .button-secondary,
  .card-hover:active .button-secondary,
  a.card:active .button-secondary {
    @apply [&:not([disabled])]:bg-secondary-700;
  }

  @media (hover: hover) {
    .button-secondary {
      @apply [&:not([disabled])]:hover:bg-secondary-500
      [&:not([disabled])]:active:bg-secondary-700;
    }

    .banner-button:hover .button-secondary,
    .card-hover:hover .button-secondary,
    a.card:hover .button-secondary {
      @apply [&:not([disabled])]:bg-secondary-500;
    }
  }

  .button-tertiary {
    @apply bg-tertiary-500
    [&:not([disabled])]:active:bg-tertiary-600;
  }

  .banner-button:active .button-tertiary,
  .card-hover:active .button-tertiary,
  a.card:active .button-tertiary {
    @apply [&:not([disabled])]:bg-tertiary-600;
  }

  @media (hover: hover) {
    .button-tertiary {
      @apply [&:not([disabled])]:hover:bg-tertiary-400
      [&:not([disabled])]:active:bg-tertiary-600;
    }

    .banner-button:hover .button-tertiary,
    .card-hover:hover .button-tertiary,
    a.card:hover .button-tertiary {
      @apply [&:not([disabled])]:bg-tertiary-400;
    }
  }

  .button-grey {
    @apply bg-neutral-400
    [&:not([disabled])]:active:bg-neutral-500;
  }

  .banner-button:active .button-grey,
  .card-hover:active .button-grey,
  a.card:active .button-grey {
    @apply [&:not([disabled])]:bg-neutral-500;
  }

  @media (hover: hover) {
    .button-grey {
      @apply [&:not([disabled])]:hover:bg-neutral-300
      [&:not([disabled])]:active:bg-neutral-500;
    }

    .banner-button:hover .button-grey,
    .card-hover:hover .button-grey,
    a.card:hover .button-grey {
      @apply [&:not([disabled])]:bg-neutral-300;
    }
  }

  .button-grey-dark {
    @apply bg-neutral-700
    [&:not([disabled])]:active:bg-neutral-800;
  }

  .banner-button:active .button-grey-dark,
  .card-hover:active .button-grey-dark,
  a.card:active .button-grey-dark {
    @apply [&:not([disabled])]:bg-neutral-800;
  }

  @media (hover: hover) {
    .button-grey-dark {
      @apply [&:not([disabled])]:hover:bg-neutral-600
      [&:not([disabled])]:active:bg-neutral-800;
    }

    .banner-button:hover .button-grey-dark,
    .card-hover:hover .button-grey-dark,
    a.card:hover .button-grey-dark {
      @apply [&:not([disabled])]:bg-neutral-600;
    }
  }

  /* Ghost buttons */
  .button-ghost-primary,
  .button-ghost-secondary,
  .button-ghost-tertiary,
  .button-ghost-grey {
    @apply bg-transparent
    border
    [&:not([disabled])]:active:text-white;
  }

  .button-ghost-primary.external-link,
  .button-ghost-secondary.external-link,
  .button-ghost-tertiary.external-link,
  .button-ghost-grey.external-link {
    @apply [&:not([disabled])]:after:bg-white
    [&:not([disabled])]:active:after:bg-white;
  }

  .banner-button:active .button-ghost-primary,
  .banner-button:active .button-ghost-secondary,
  .banner-button:active .button-ghost-tertiary,
  .banner-button:active .button-ghost-grey,
  .card-hover:active .button-ghost-primary,
  .card-hover:active .button-ghost-secondary,
  .card-hover:active .button-ghost-tertiary,
  .card-hover:active .button-ghost-grey,
  a.card:active .button-ghost-primary,
  a.card:active .button-ghost-secondary,
  a.card:active .button-ghost-tertiary,
  a.card:active .button-ghost-grey {
    @apply [&:not([disabled])]:text-white;
  }

  .banner-button:active .button-ghost-primary.external-link,
  .banner-button:active .button-ghost-secondary.external-link,
  .banner-button:active .button-ghost-tertiary.external-link,
  .banner-button:active .button-ghost-grey.external-link,
  .card-hover:active .button-ghost-primary.external-link,
  .card-hover:active .button-ghost-secondary.external-link,
  .card-hover:active .button-ghost-tertiary.external-link,
  .card-hover:active .button-ghost-grey.external-link,
  a.card:active .button-ghost-primary.external-link,
  a.card:active .button-ghost-secondary.external-link,
  a.card:active .button-ghost-tertiary.external-link,
  a.card:active .button-ghost-grey.external-link {
    @apply [&:not([disabled])]:after:bg-white;
  }

  @media (hover: hover) {
    .button-ghost-primary,
    .button-ghost-secondary,
    .button-ghost-tertiary,
    .button-ghost-grey {
      @apply [&:not([disabled])]:hover:text-white;
    }

    .button-ghost-primary.external-link,
    .button-ghost-secondary.external-link,
    .button-ghost-tertiary.external-link,
    .button-ghost-grey.external-link {
      @apply [&:not([disabled])]:hover:after:bg-white;
    }

    .banner-button:hover .button-ghost-primary,
    .banner-button:hover .button-ghost-secondary,
    .banner-button:hover .button-ghost-tertiary,
    .banner-button:hover .button-ghost-grey,
    .card-hover:hover .button-ghost-primary,
    .card-hover:hover .button-ghost-secondary,
    .card-hover:hover .button-ghost-tertiary,
    .card-hover:hover .button-ghost-grey,
    a.card:hover .button-ghost-primary,
    a.card:hover .button-ghost-secondary,
    a.card:hover .button-ghost-tertiary,
    a.card:hover .button-ghost-grey {
      @apply [&:not([disabled])]:text-white;
    }

    .banner-button:hover .button-ghost-primary.external-link,
    .banner-button:hover .button-ghost-secondary.external-link,
    .banner-button:hover .button-ghost-tertiary.external-link,
    .banner-button:hover .button-ghost-grey.external-link,
    .card-hover:hover .button-ghost-primary.external-link,
    .card-hover:hover .button-ghost-secondary.external-link,
    .card-hover:hover .button-ghost-tertiary.external-link,
    .card-hover:hover .button-ghost-grey.external-link,
    a.card:hover .button-ghost-primary.external-link,
    a.card:hover .button-ghost-secondary.external-link,
    a.card:hover .button-ghost-tertiary.external-link,
    a.card:hover .button-ghost-grey.external-link {
      @apply [&:not([disabled])]:after:bg-white;
    }
  }

  .button-ghost-primary {
    @apply text-primary-500
    border-primary-500
    [&:not([disabled])]:active:bg-primary-600
    [&:not([disabled])]:active:border-primary-600;
  }

  .button-ghost-primary.external-link {
    @apply [&:not([disabled])]:after:bg-primary-500;
  }

  .banner-button:active .button-ghost-primary,
  .card-hover:active .button-ghost-primary,
  a.card:active .button-ghost-primary {
    @apply [&:not([disabled])]:bg-primary-600
    [&:not([disabled])]:border-primary-600;
  }

  @media (hover: hover) {
    .button-ghost-primary {
      @apply [&:not([disabled])]:hover:bg-primary-500
      [&:not([disabled])]:hover:border-primary-500
      [&:not([disabled])]:active:bg-primary-600
      [&:not([disabled])]:active:border-primary-600;
    }

    .banner-button:hover .button-ghost-primary,
    .card-hover:hover .button-ghost-primary,
    a.card:hover .button-ghost-primary {
      @apply [&:not([disabled])]:bg-primary-500
      [&:not([disabled])]:border-primary-500;
    }
  }

  .button-ghost-secondary {
    @apply text-secondary-600
    border-secondary-600
    [&:not([disabled])]:active:bg-secondary-700
    [&:not([disabled])]:active:border-secondary-700;
  }

  .button-ghost-secondary.external-link {
    @apply [&:not([disabled])]:after:bg-secondary-600;
  }

  .banner-button:active .button-ghost-secondary,
  .card-hover:active .button-ghost-secondary,
  a.card:active .button-ghost-secondary {
    @apply [&:not([disabled])]:bg-secondary-700
    [&:not([disabled])]:border-secondary-700;
  }

  @media (hover: hover) {
    .button-ghost-secondary {
      @apply [&:not([disabled])]:hover:bg-secondary-600
      [&:not([disabled])]:hover:border-secondary-600
      [&:not([disabled])]:active:bg-secondary-700
      [&:not([disabled])]:active:border-secondary-700;
    }

    .banner-button:hover .button-ghost-secondary,
    .card-hover:hover .button-ghost-secondary,
    a.card:hover .button-ghost-secondary {
      @apply [&:not([disabled])]:bg-secondary-600
      [&:not([disabled])]:border-secondary-600;
    }
  }

  .button-ghost-tertiary {
    @apply text-tertiary-500
    border-tertiary-500
    [&:not([disabled])]:active:bg-tertiary-600
    [&:not([disabled])]:active:border-tertiary-600;
  }

  .button-ghost-tertiary.external-link {
    @apply [&:not([disabled])]:after:bg-tertiary-500;
  }

  .banner-button:active .button-ghost-tertiary,
  .card-hover:active .button-ghost-tertiary,
  a.card:active .button-ghost-tertiary {
    @apply [&:not([disabled])]:bg-tertiary-600
    [&:not([disabled])]:border-tertiary-600;
  }

  @media (hover: hover) {
    .button-ghost-tertiary {
      @apply [&:not([disabled])]:hover:bg-tertiary-500
      [&:not([disabled])]:hover:border-tertiary-500
      [&:not([disabled])]:active:bg-tertiary-600
      [&:not([disabled])]:active:border-tertiary-600;
    }

    .banner-button:hover .button-ghost-tertiary,
    .card-hover:hover .button-ghost-tertiary,
    a.card:hover .button-ghost-tertiary {
      @apply [&:not([disabled])]:bg-tertiary-500
      [&:not([disabled])]:border-tertiary-500;
    }
  }

  .button-ghost-grey {
    @apply text-neutral-400
    border-neutral-400
    [&:not([disabled])]:active:bg-neutral-500
    [&:not([disabled])]:active:border-neutral-500;
  }

  .button-ghost-grey.external-link {
    @apply [&:not([disabled])]:after:bg-neutral-400;
  }

  .banner-button:active .button-ghost-grey,
  .card-hover:active .button-ghost-grey,
  a.card:active .button-ghost-grey {
    @apply [&:not([disabled])]:bg-neutral-500
    [&:not([disabled])]:border-neutral-500;
  }

  @media (hover: hover) {
    .button-ghost-grey {
      @apply [&:not([disabled])]:hover:bg-neutral-400
      [&:not([disabled])]:hover:border-neutral-400
      [&:not([disabled])]:active:bg-neutral-500
      [&:not([disabled])]:active:border-neutral-500;
    }

    .banner-button:hover .button-ghost-grey,
    .card-hover:hover .button-ghost-grey,
    a.card:hover .button-ghost-grey {
      @apply [&:not([disabled])]:bg-neutral-400
      [&:not([disabled])]:border-neutral-400;
    }
  }

  /* White buttons */
  .button-white-primary,
  .button-white-secondary,
  .button-white-tertiary,
  .button-white-grey {
    @apply bg-white
    border
    shadow-md
    [&:not([disabled])]:active:shadow-lg;
  }

  .banner-button:active .button-white-primary,
  .banner-button:active .button-white-secondary,
  .banner-button:active .button-white-tertiary,
  .banner-button:active .button-white-grey,
  .card-hover:active .button-white-primary,
  .card-hover:active .button-white-secondary,
  .card-hover:active .button-white-tertiary,
  .card-hover:active .button-white-grey,
  a.card:active .button-white-primary,
  a.card:active .button-white-secondary,
  a.card:active .button-white-tertiary,
  a.card:active .button-white-grey {
    @apply [&:not([disabled])]:shadow-lg;
  }

  @media (hover: hover) {
    .button-white-primary,
    .button-white-secondary,
    .button-white-tertiary,
    .button-white-grey {
      @apply [&:not([disabled])]:hover:shadow-lg;
    }

    .banner-button:hover .button-white-primary,
    .banner-button:hover .button-white-secondary,
    .banner-button:hover .button-white-tertiary,
    .banner-button:hover .button-white-grey,
    .card-hover:hover .button-white-primary,
    .card-hover:hover .button-white-secondary,
    .card-hover:hover .button-white-tertiary,
    .card-hover:hover .button-white-grey,
    a.card:hover .button-white-primary,
    a.card:hover .button-white-secondary,
    a.card:hover .button-white-tertiary,
    a.card:hover .button-white-grey {
      @apply [&:not([disabled])]:shadow-lg;
    }
  }

  .button-white-primary {
    @apply text-primary-500
    border-primary-500
    [&:not([disabled])]:active:bg-primary-100;
  }

  .button-white-primary.external-link {
    @apply [&:not([disabled])]:after:bg-primary-500;
  }

  .banner-button:active .button-white-primary,
  .card-hover:active .button-white-primary,
  a.card:active .button-white-primary {
    @apply [&:not([disabled])]:bg-primary-100;
  }

  @media (hover: hover) {
    .button-white-primary {
      @apply [&:not([disabled])]:hover:bg-primary-50
      [&:not([disabled])]:active:bg-primary-100;
    }

    .banner-button:hover .button-white-primary,
    .card-hover:hover .button-white-primary,
    a.card:hover .button-white-primary {
      @apply [&:not([disabled])]:bg-primary-50;
    }
  }

  .button-white-secondary {
    @apply text-secondary-600 
    border-secondary-600
    [&:not([disabled])]:active:bg-secondary-100;
  }

  .button-white-secondary.external-link {
    @apply [&:not([disabled])]:after:bg-secondary-600;
  }

  .banner-button:active .button-white-secondary,
  .card-hover:active .button-white-secondary,
  a.card:active .button-white-secondary {
    @apply [&:not([disabled])]:bg-secondary-100;
  }

  @media (hover: hover) {
    .button-white-secondary {
      @apply [&:not([disabled])]:hover:bg-secondary-50
      [&:not([disabled])]:active:bg-secondary-100;
    }

    .banner-button:hover .button-white-secondary,
    .card-hover:hover .button-white-secondary,
    a.card:hover .button-white-secondary {
      @apply [&:not([disabled])]:bg-secondary-50;
    }
  }

  .button-white-tertiary {
    @apply text-tertiary-500
    border-tertiary-500
    [&:not([disabled])]:active:bg-tertiary-100;
  }

  .button-white-tertiary.external-link {
    @apply [&:not([disabled])]:after:bg-tertiary-500;
  }

  .banner-button:active .button-white-tertiary,
  .card-hover:active .button-white-tertiary,
  a.card:active .button-white-tertiary {
    @apply [&:not([disabled])]:bg-tertiary-100;
  }

  @media (hover: hover) {
    .button-white-tertiary {
      @apply [&:not([disabled])]:hover:bg-tertiary-50
      [&:not([disabled])]:active:bg-tertiary-100;
    }

    .banner-button:hover .button-white-tertiary,
    .card-hover:hover .button-white-tertiary,
    a.card:hover .button-white-tertiary {
      @apply [&:not([disabled])]:bg-tertiary-50;
    }
  }

  .button-white-grey {
    @apply text-neutral-400
    border-neutral-400
    [&:not([disabled])]:active:bg-neutral-100;
  }

  .button-white-grey.external-link {
    @apply [&:not([disabled])]:after:bg-neutral-400;
  }

  .banner-button:active .button-white-grey,
  .card-hover:active .button-white-grey,
  a.card:active .button-white-grey {
    @apply [&:not([disabled])]:bg-neutral-100;
  }

  @media (hover: hover) {
    .button-white-grey {
      @apply [&:not([disabled])]:hover:bg-neutral-50
      [&:not([disabled])]:active:bg-neutral-100;
    }

    .banner-button:hover .button-white-grey,
    .card-hover:hover .button-white-grey,
    a.card:hover .button-white-grey {
      @apply [&:not([disabled])]:bg-neutral-50;
    }
  }

  /* White ghost buttons */
  .button-white-ghost-primary,
  .button-white-ghost-secondary,
  .button-white-ghost-tertiary,
  .button-white-ghost-grey {
    @apply bg-transparent
    border
    border-white
    text-white
    [&:not([disabled])]:active:bg-white
    [&:not([disabled])]:active:shadow-lg;
  }

  .button-white-ghost-primary.external-link,
  .button-white-ghost-secondary.external-link,
  .button-white-ghost-tertiary.external-link,
  .button-white-ghost-grey.external-link {
    @apply [&:not([disabled])]:after:bg-white;
  }

  .button-white-ghost-primary {
    @apply [&:not([disabled])]:active:text-primary-600
    [&:not([disabled])]:active:bg-primary-50
    [&:not([disabled])]:active:border-primary-50;
  }

  .banner-button:active .button-white-ghost-primary,
  .card-hover:active .button-white-ghost-primary,
  a.card:active .button-white-ghost-primary {
    @apply [&:not([disabled])]:text-primary-600
    [&:not([disabled])]:bg-primary-50
    [&:not([disabled])]:border-primary-50;
  }

  .button-white-ghost-primary.external-link {
    @apply [&:not([disabled])]:active:after:bg-primary-600;
  }

  .banner-button:active .button-white-ghost-primary.external-link,
  .card-hover:active .button-white-ghost-primary.external-link,
  a.card:active .button-white-ghost-primary.external-link {
    @apply [&:not([disabled])]:after:bg-primary-600;
  }

  .button-white-ghost-secondary,
  .card-tilted .card:nth-child(even) .button-white-ghost-primary {
    @apply [&:not([disabled])]:active:text-secondary-700
    [&:not([disabled])]:active:bg-secondary-50
    [&:not([disabled])]:active:border-secondary-50;
  }

  .banner-button:active .button-white-ghost-secondary,
  .card-hover:active .button-white-ghost-secondary,
  a.card:active .button-white-ghost-secondary {
    @apply [&:not([disabled])]:text-secondary-700
    [&:not([disabled])]:bg-secondary-50
    [&:not([disabled])]:border-secondary-50;
  }

  .button-white-ghost-secondary.external-link,
  .card-tilted .card:nth-child(even) .button-white-ghost-primary.external-link {
    @apply [&:not([disabled])]:active:after:bg-secondary-700;
  }

  .banner-button:active .button-white-ghost-secondary.external-link,
  .card-hover:active .button-white-ghost-secondary.external-link,
  a.card:active .button-white-ghost-secondary.external-link {
    @apply [&:not([disabled])]:after:bg-secondary-700;
  }

  .button-white-ghost-tertiary {
    @apply [&:not([disabled])]:active:text-tertiary-600
    [&:not([disabled])]:active:bg-tertiary-50
    [&:not([disabled])]:active:border-tertiary-50;
  }

  .banner-button:active .button-white-ghost-tertiary,
  .card-hover:active .button-white-ghost-tertiary,
  a.card:active .button-white-ghost-tertiary {
    @apply [&:not([disabled])]:text-tertiary-600
    [&:not([disabled])]:bg-tertiary-50
    [&:not([disabled])]:border-tertiary-50;
  }

  .button-white-ghost-tertiary.external-link {
    @apply [&:not([disabled])]:active:after:bg-tertiary-600;
  }

  .banner-button:active .button-white-ghost-tertiary.external-link,
  .card-hover:active .button-white-ghost-tertiary.external-link,
  a.card:active .button-white-ghost-tertiary.external-link {
    @apply [&:not([disabled])]:after:bg-tertiary-600;
  }

  .button-white-ghost-grey {
    @apply [&:not([disabled])]:active:text-neutral-500
    [&:not([disabled])]:active:bg-neutral-50
    [&:not([disabled])]:active:border-neutral-50;
  }

  .banner-button:active .button-white-ghost-grey,
  .card-hover:active .button-white-ghost-grey,
  a.card:active .button-white-ghost-grey {
    @apply [&:not([disabled])]:text-neutral-500
    [&:not([disabled])]:bg-neutral-50
    [&:not([disabled])]:border-neutral-50;
  }

  .button-white-ghost-grey.external-link {
    @apply [&:not([disabled])]:active:after:bg-neutral-500;
  }

  .banner-button:active .button-white-ghost-grey.external-link,
  .card-hover:active .button-white-ghost-grey.external-link,
  a.card:active .button-white-ghost-grey.external-link {
    @apply [&:not([disabled])]:after:bg-neutral-500;
  }

  @media (hover: hover) {
    .button-white-ghost-primary,
    .button-white-ghost-secondary,
    .button-white-ghost-tertiary,
    .button-white-ghost-grey {
      @apply [&:not([disabled])]:hover:bg-white
      [&:not([disabled])]:hover:shadow-lg;
    }

    .banner-button:hover .button-white-ghost-primary,
    .banner-button:hover .button-white-ghost-secondary,
    .banner-button:hover .button-white-ghost-tertiary,
    .banner-button:hover .button-white-ghost-grey,
    .card-hover:hover .button-white-ghost-primary,
    .card-hoverp:hover .button-white-ghost-secondary,
    .card-hoverp:hover .button-white-ghost-tertiary,
    .card-hover:hover .button-white-ghost-grey,
    a.card:hover .button-white-ghost-primary,
    a.card:hover .button-white-ghost-secondary,
    a.card:hover .button-white-ghost-tertiary,
    a.card:hover .button-white-ghost-grey {
      @apply [&:not([disabled])]:bg-white
      [&:not([disabled])]:shadow-lg;
    }

    .button-white-ghost-primary {
      @apply [&:not([disabled])]:hover:text-primary-500
      [&:not([disabled])]:active:bg-primary-50
      [&:not([disabled])]:active:border-primary-50;
    }

    .banner-button:hover .button-white-ghost-primary,
    .card-hover:hover .button-white-ghost-primary,
    a.card:hover .button-white-ghost-primary {
      @apply [&:not([disabled])]:text-primary-500
      [&:not([disabled])]:bg-primary-50
      [&:not([disabled])]:border-primary-50;
    }

    .button-white-ghost-primary.external-link {
      @apply [&:not([disabled])]:hover:after:bg-primary-500;
    }

    .banner-button:hover .button-white-ghost-primary.external-link,
    .card-hover:hover .button-white-ghost-primary.external-link,
    a.card:hover .button-white-ghost-primary.external-link {
      @apply [&:not([disabled])]:after:bg-primary-500;
    }

    .button-white-ghost-secondary,
    .card-tilted .card:nth-child(even) .button-white-ghost-primary {
      @apply [&:not([disabled])]:hover:text-secondary-600
      [&:not([disabled])]:active:bg-secondary-50
      [&:not([disabled])]:active:border-secondary-50;
    }

    .banner-button:hover .button-white-ghost-secondary,
    .card-hover:hover .button-white-ghost-secondary,
    a.card:hover .button-white-ghost-secondary {
      @apply [&:not([disabled])]:text-secondary-600
      [&:not([disabled])]:bg-secondary-50
      [&:not([disabled])]:border-secondary-50;
    }

    .button-white-ghost-secondary.external-link,
    .card-tilted
      .card:nth-child(even)
      .button-white-ghost-primary.external-link {
      @apply [&:not([disabled])]:hover:after:bg-secondary-600;
    }

    .banner-button:hover .button-white-ghost-secondary.external-link,
    .card-hover:hover .button-white-ghost-secondary.external-link,
    a.card:hover .button-white-ghost-secondary.external-link {
      @apply [&:not([disabled])]:after:bg-secondary-600;
    }

    .button-white-ghost-tertiary {
      @apply [&:not([disabled])]:hover:text-tertiary-500
      [&:not([disabled])]:active:bg-tertiary-50
      [&:not([disabled])]:active:border-tertiary-50;
    }

    .banner-button:hover .button-white-ghost-tertiary,
    .card-hover:hover .button-white-ghost-tertiary,
    a.card:hover .button-white-ghost-tertiary {
      @apply [&:not([disabled])]:text-tertiary-500
      [&:not([disabled])]:bg-tertiary-50
      [&:not([disabled])]:border-tertiary-50;
    }

    .button-white-ghost-tertiary.external-link {
      @apply [&:not([disabled])]:hover:after:bg-tertiary-500;
    }

    .banner-button:hover .button-white-ghost-tertiary.external-link,
    .card-hover:hover .button-white-ghost-tertiary.external-link,
    a.card:hover .button-white-ghost-tertiary.external-link {
      @apply [&:not([disabled])]:after:bg-tertiary-500;
    }

    .button-white-ghost-grey {
      @apply [&:not([disabled])]:hover:text-neutral-400
      [&:not([disabled])]:active:bg-neutral-50
      [&:not([disabled])]:active:border-neutral-50;
    }

    .banner-button:hover .button-white-ghost-grey,
    .card-hover:hover .button-white-ghost-grey,
    a.card:hover .button-white-ghost-grey {
      @apply [&:not([disabled])]:text-neutral-400
      [&:not([disabled])]:bg-neutral-50
      [&:not([disabled])]:border-neutral-50;
    }

    .button-white-ghost-grey.external-link {
      @apply [&:not([disabled])]:hover:after:bg-neutral-400;
    }

    .banner-button:hover .button-white-ghost-grey.external-link,
    .card-hover:hover .button-white-ghost-grey.external-link,
    a.card:hover .button-white-ghost-grey.external-link {
      @apply [&:not([disabled])]:after:bg-neutral-400;
    }
  }

  /* Text buttons */
  .button-text-primary,
  .button-text-secondary,
  .button-text-tertiary,
  .button-text-grey,
  .button-text-white {
    @apply h-auto
    before:content-[""]
    before:block
    before:absolute
    before:left-0
    before:-bottom-1.5
    before:h-[0.0625rem]
    before:w-0
    before:overflow-hidden
    /* before:transition-all
    before:duration-200 */
    [&:not([disabled])]:active:before:w-full;
  }

  .button-text-primary.external-link,
  .button-text-secondary.external-link,
  .button-text-tertiary.external-link,
  .button-text-grey.external-link,
  .button-text-white.external-link {
    @apply after:top-0
    after:ml-2;
  }

  .button-text-primary .fa-arrow-right,
  .button-text-secondary .fa-arrow-right,
  .button-text-tertiary .fa-arrow-right,
  .button-text-grey .fa-arrow-right,
  .button-text-white .fa-arrow-right,
  .button-text-primary .fa-arrow-left,
  .button-text-secondary .fa-arrow-left,
  .button-text-tertiary .fa-arrow-left,
  .button-text-grey .fa-arrow-left,
  .button-text-white .fa-arrow-left {
    @apply translate-x-0
    transition-all
    duration-200;
  }

  .card-hover:active .button-text-primary,
  .card-hover:active .button-text-secondary,
  .card-hover:active .button-text-tertiary,
  .card-hover:active .button-text-grey,
  .card-hover:active .button-text-white,
  a.card:active .button-text-primary,
  a.card:active .button-text-secondary,
  a.card:active .button-text-tertiary,
  a.card:active .button-text-grey,
  a.card:active .button-text-white {
    @apply [&:not([disabled])]:before:w-full;
  }

  .button-text-primary:not([disabled]):active .fa-arrow-right,
  .button-text-secondary:not([disabled]):active .fa-arrow-right,
  .button-text-tertiary:not([disabled]):active .fa-arrow-right,
  .button-text-grey:not([disabled]):active .fa-arrow-right,
  .button-text-white:not([disabled]):active .fa-arrow-right,
  .card-hover:active .button-text-primary:not([disabled]) .fa-arrow-right,
  .card-hover:active .button-text-tertiary:not([disabled]) .fa-arrow-right,
  .card-hover:active .button-text-secondary:not([disabled]) .fa-arrow-right,
  .card-hover:active .button-text-grey:not([disabled]) .fa-arrow-right,
  .card-hover:active .button-text-white:not([disabled]) .fa-arrow-right,
  a.card:active .button-text-primary:not([disabled]) .fa-arrow-right,
  a.card:active .button-text-secondary:not([disabled]) .fa-arrow-right,
  a.card:active .button-text-tertiary:not([disabled]) .fa-arrow-right,
  a.card:active .button-text-grey:not([disabled]) .fa-arrow-right,
  a.card:active .button-text-white:not([disabled]) .fa-arrow-right {
    @apply translate-x-1;
  }

  .button-text-primary:not([disabled]):active .fa-arrow-left,
  .button-text-secondary:not([disabled]):active .fa-arrow-left,
  .button-text-tertiary:not([disabled]):active .fa-arrow-left,
  .button-text-grey:not([disabled]):active .fa-arrow-left,
  .button-text-white:not([disabled]):active .fa-arrow-left,
  .card-hover:active .button-text-primary:not([disabled]) .fa-arrow-left,
  .card-hover:active .button-text-secondary:not([disabled]) .fa-arrow-left,
  .card-hover:active .button-text-tertiary:not([disabled]) .fa-arrow-left,
  .card-hover:active .button-text-grey:not([disabled]) .fa-arrow-left,
  .card-hover:active .button-text-white:not([disabled]) .fa-arrow-left,
  a.card:active .button-text-primary:not([disabled]) .fa-arrow-left,
  a.card:active .button-text-secondary:not([disabled]) .fa-arrow-left,
  a.card:active .button-text-tertiary:not([disabled]) .fa-arrow-left,
  a.card:active .button-text-grey:not([disabled]) .fa-arrow-left,
  a.card:active .button-text-white:not([disabled]) .fa-arrow-left {
    @apply -translate-x-1;
  }

  @media (hover: hover) {
    .button-text-primary,
    .button-text-secondary,
    .button-text-tertiary,
    .button-text-grey,
    .button-text-white {
      @apply before:transition-all
      before:duration-200
      [&:not([disabled])]:hover:before:w-full;
    }

    .card-hover:hover .button-text-primary,
    .card-hover:hover .button-text-secondary,
    .card-hover:hover .button-text-tertiary,
    .card-hover:hover .button-text-grey,
    .card-hover:hover .button-text-white,
    a.card:hover .button-text-primary,
    a.card:hover .button-text-secondary,
    a.card:hover .button-text-tertiary,
    a.card:hover .button-text-grey,
    a.card:hover .button-text-white {
      @apply [&:not([disabled])]:before:w-full;
    }

    .button-text-primary:not([disabled]):hover .fa-arrow-right,
    .button-text-secondary:not([disabled]):hover .fa-arrow-right,
    .button-text-tertiary:not([disabled]):hover .fa-arrow-right,
    .button-text-grey:not([disabled]):hover .fa-arrow-right,
    .button-text-white:not([disabled]):hover .fa-arrow-right,
    .card-hover:hover .button-text-primary:not([disabled]) .fa-arrow-right,
    .card-hover:hover .button-text-tertiary:not([disabled]) .fa-arrow-right,
    .card-hover:hover .button-text-secondary:not([disabled]) .fa-arrow-right,
    .card-hover:hover .button-text-grey:not([disabled]) .fa-arrow-right,
    .card-hover:hover .button-text-white:not([disabled]) .fa-arrow-right,
    a.card:hover .button-text-primary:not([disabled]) .fa-arrow-right,
    a.card:hover .button-text-secondary:not([disabled]) .fa-arrow-right,
    a.card:hover .button-text-tertiary:not([disabled]) .fa-arrow-right,
    a.card:hover .button-text-grey:not([disabled]) .fa-arrow-right,
    a.card:hover .button-text-white:not([disabled]) .fa-arrow-right {
      @apply translate-x-1;
    }

    .button-text-primary:not([disabled]):hover .fa-arrow-left,
    .button-text-secondary:not([disabled]):hover .fa-arrow-left,
    .button-text-tertiary:not([disabled]):hover .fa-arrow-left,
    .button-text-grey:not([disabled]):hover .fa-arrow-left,
    .button-text-white:not([disabled]):hover .fa-arrow-left,
    .card-hover:hover .button-text-primary:not([disabled]) .fa-arrow-left,
    .card-hover:hover .button-text-secondary:not([disabled]) .fa-arrow-left,
    .card-hover:hover .button-text-tertiary:not([disabled]) .fa-arrow-left,
    .card-hover:hover .button-text-grey:not([disabled]) .fa-arrow-left,
    .card-hover:hover .button-text-white:not([disabled]) .fa-arrow-left,
    a.card:hover .button-text-primary:not([disabled]) .fa-arrow-left,
    a.card:hover .button-text-secondary:not([disabled]) .fa-arrow-left,
    a.card:hover .button-text-tertiary:not([disabled]) .fa-arrow-left,
    a.card:hover .button-text-grey:not([disabled]) .fa-arrow-left,
    a.card:hover .button-text-white:not([disabled]) .fa-arrow-left {
      @apply -translate-x-1;
    }
  }

  .button-text-primary {
    @apply relative
    text-primary-500
    before:bg-primary-500
    [&:not([disabled])]:active:text-primary-600
    [&:not([disabled])]:active:before:bg-primary-600;
  }

  .button-text-primary.external-link {
    @apply [&:not([disabled])]:after:bg-primary-500;
  }

  .card-hover:active .button-text-primary,
  a.card:active .button-text-primary {
    @apply [&:not([disabled])]:text-primary-600
    [&:not([disabled])]:before:bg-primary-600;
  }

  @media (hover: hover) {
    .button-text-primary {
      @apply [&:not([disabled])]:hover:text-primary-500
      [&:not([disabled])]:active:text-primary-600
      [&:not([disabled])]:active:before:bg-primary-600;
    }

    .card-hover:hover .button-text-primary,
    a.card:hover .button-text-primary {
      @apply [&:not([disabled])]:text-primary-500;
    }
  }

  .button-text-secondary {
    @apply relative
    text-secondary-600
    before:bg-secondary-600
    [&:not([disabled])]:active:text-secondary-700
    [&:not([disabled])]:active:before:bg-secondary-700;
  }

  .button-text-secondary.external-link {
    @apply [&:not([disabled])]:after:bg-secondary-600;
  }

  .card-hover:active .button-text-secondary,
  a.card:active .button-text-secondary {
    @apply [&:not([disabled])]:text-secondary-700
    [&:not([disabled])]:before:bg-secondary-700;
  }

  @media (hover: hover) {
    .button-text-secondary {
      @apply [&:not([disabled])]:hover:text-secondary-600
      [&:not([disabled])]:active:text-secondary-700
      [&:not([disabled])]:active:before:bg-secondary-700;
    }

    .card-hover:hover .button-text-secondary,
    a.card:hover .button-text-secondary {
      @apply [&:not([disabled])]:text-secondary-600;
    }
  }

  .button-text-tertiary {
    @apply relative
    text-tertiary-500
    before:bg-tertiary-500
    [&:not([disabled])]:active:text-tertiary-600
    [&:not([disabled])]:active:before:bg-tertiary-600;
  }

  .button-text-tertiary.external-link {
    @apply [&:not([disabled])]:after:bg-tertiary-500;
  }

  .card-hover:active .button-text-tertiary,
  a.card:active .button-text-tertiary {
    @apply [&:not([disabled])]:text-tertiary-600
    [&:not([disabled])]:before:bg-tertiary-600;
  }

  @media (hover: hover) {
    .button-text-tertiary {
      @apply [&:not([disabled])]:hover:text-tertiary-500
      [&:not([disabled])]:active:text-tertiary-600
      [&:not([disabled])]:active:before:bg-tertiary-600;
    }

    .card-hover:hover .button-text-tertiary,
    a.card:hover .button-text-tertiary {
      @apply [&:not([disabled])]:text-tertiary-500;
    }
  }

  .button-text-grey {
    @apply relative
    text-neutral-400
    before:bg-neutral-400
    [&:not([disabled])]:active:text-neutral-500
    [&:not([disabled])]:active:before:bg-neutral-500;
  }

  .button-text-grey.external-link {
    @apply [&:not([disabled])]:after:bg-neutral-400;
  }

  .card-hover:active .button-text-grey,
  a.card:active .button-text-grey {
    @apply [&:not([disabled])]:text-neutral-500
    [&:not([disabled])]:before:bg-neutral-500;
  }

  @media (hover: hover) {
    .button-text-grey {
      @apply [&:not([disabled])]:hover:text-neutral-400
      [&:not([disabled])]:active:text-neutral-500
      [&:not([disabled])]:active:before:bg-neutral-500;
    }

    .card-hover:hover .button-text-grey,
    a.card:hover .button-text-grey {
      @apply [&:not([disabled])]:text-neutral-400;
    }
  }

  .button-text-white {
    @apply relative
    text-white
    before:bg-white
    [&:not([disabled])]:active:text-neutral-100
    [&:not([disabled])]:active:before:bg-neutral-100;
  }

  .button-text-white.external-link {
    @apply [&:not([disabled])]:after:bg-white;
  }

  .card-hover:active .button-text-white,
  a.card:active .button-text-white {
    @apply [&:not([disabled])]:text-white;
  }

  @media (hover: hover) {
    .button-text-white {
      @apply [&:not([disabled])]:hover:text-white
      [&:not([disabled])]:active:text-neutral-100
      [&:not([disabled])]:active:before:bg-neutral-100;
    }

    .card-hover:hover .button-text-white,
    a.card:hover .button-text-white {
      @apply [&:not([disabled])]:text-white;
    }
  }

  /*========================================
    Buttons container
  ========================================*/
  .button-container {
    @apply flex
    flex-wrap
    items-center
    gap-x-2
    gap-y-6
    !mt-8;
  }

  .button-container *[class*="button-text"] {
    @apply mx-6
    my-2;
  }
}
