@layer components {
  /*========================================
    Card base
  ========================================*/
  .card {
    @apply relative
    inline-flex
    flex-col
    rounded-xl
    bg-white
    border
    border-neutral-200
    overflow-hidden
    text-neutral-700
    no-underline
    duration-300
    [&:not([disabled])]:active:text-neutral-700;

    transition-property: box-shadow;
  }

  @media (hover: hover) {
    .card {
      @apply [&:not([disabled])]:hover:text-neutral-700;
    }
  }

  .card span {
    @apply inline-block;
  }

  .card .button,
  .card .button-primary,
  .card .button-secondary,
  .card .button-tertiary,
  .card .button-grey,
  .card .button-grey-dark,
  .card .button-ghost-primary,
  .card .button-ghost-secondary,
  .card .button-ghost-tertiary,
  .card .button-ghost-grey,
  .card .button-white-primary,
  .card .button-white-secondary,
  .card .button-white-tertiary,
  .card .button-white-grey,
  .card .button-white-ghost-primary,
  .card .button-white-ghost-secondary,
  .card .button-white-ghost-tertiary,
  .card .button-white-ghost-grey,
  .card .button-text-primary,
  .card .button-text-secondary,
  .card .button-text-tertiary,
  .card .button-text-grey,
  .card .button-text-white {
    @apply inline-flex;
  }

  .card-fixed-height {
    @apply min-h-[10rem]
    sm:min-h-[26.5rem];
  }

  .card-fixed-height-sm {
    @apply min-h-[10rem]
    sm:min-h-[15.5rem];
  }

  .bg-primary .card {
    @apply border-0;
  }

  .card-text-center-sm {
    @apply max-sm:text-center;
  }

  .card-text-center-sm .card-title-icon {
    @apply max-sm:flex-col
    max-sm:items-center;
  }

  .cards-borderless {
    @apply gap-y-0;
  }

  .cards-borderless .card {
    @apply -mb-6
    sm:-mb-8;
  }

  /*========================================
    Grey cards
  ========================================*/
  .card-grey {
    @apply bg-neutral-50;
  }

  .bg-grey .card-grey {
    @apply bg-white;
  }

  /*========================================
    Dark grey cards
  ========================================*/
  .card-dark-grey {
    @apply bg-neutral-700
    border-neutral-700;
  }

  .card-dark-grey .card-title,
  .card-dark-grey .card-description {
    @apply text-white;
  }

  .card-dark-grey:not([disabled]):active .card-title,
  .card-dark-grey:not([disabled]):active .card-description {
    @apply text-white;
  }

  @media (hover: hover) {
    .card-dark-grey:not([disabled]):hover .card-title,
    .card-dark-grey:not([disabled]):hover .card-description {
      @apply text-white;
    }
  }

  /*========================================
    Blue cards
  ========================================*/
  .card-blue {
    @apply bg-primary-50;
  }

  .card-blue .card-title {
    @apply text-primary-700;
  }

  /*========================================
    Card content
  ========================================*/
  .card-content {
    @apply grow
    px-5
    py-6
    sm:px-6
    sm:py-8;
  }

  .card-footer {
    @apply flex
    flex-wrap
    items-start
    px-5
    pb-6
    /* -mt-2 */
    gap-2
    sm:px-6
    sm:pb-8;
  }

  .card-lg .card-content {
    @apply sm:px-8;
  }

  .card-lg .card-footer {
    @apply mt-0
    sm:px-8;
  }

  .card-sm .card-content,
  .card-fixed-height .card-content,
  .card-fixed-height-sm .card-content {
    @apply sm:py-6;
  }

  .card-sm .card-footer,
  .card-fixed-height .card-footer,
  .card-fixed-height-sm .card-footer {
    @apply sm:pb-6;
  }

  .card-notes {
    @apply py-6
    px-5
    bg-neutral-50
    rounded-[0.25rem]
    space-y-4
    sm:px-8;
  }

  .card .card-notes {
    @apply rounded-t-none
    sm:px-6
    sm:py-8;
  }

  .card-icon,
  .paragraph-icon {
    @apply inline-flex
    items-center
    justify-center
    h-8
    w-auto
    shrink-0;
  }

  .card-icon.icon-square,
  .paragraph-icon.icon-square {
    @apply h-16
    w-16;
  }

  .card-icon.icon-lg,
  .paragraph-icon.icon-lg {
    @apply h-8
    sm:h-14;
  }

  .card-icon img,
  .paragraph-icon img {
    @apply h-full
    w-auto
    max-w-none;
  }

  .paragraph-icon + * {
    @apply mt-2;
  }

  .card-title-icon {
    @apply flex
    items-start;
  }

  .card-title-icon-icon {
    @apply inline-flex
    items-center
    justify-center
    h-8
    mr-4;
  }

  .card-title-icon-icon img {
    @apply h-full
    max-w-none;
  }

  .card-description {
    @apply font-normal
    text-neutral-800;
  }

  .card:not([disabled]):active .card-description {
    @apply text-neutral-900;
  }

  @media (hover: hover) {
    .card:not([disabled]):hover .card-description {
      @apply text-neutral-800;
    }
  }

  .card-caption {
    @apply font-semibold
    text-primary-500;
  }

  .card-icon-label {
    @apply flex
    items-start;
  }

  .card-icon-label-icon {
    @apply relative
    top-[0.25rem]
    inline-flex
    items-center
    justify-center
    h-[1.125rem]
    mr-2.5;
  }

  .card-icon-label-icon img {
    @apply h-full
    max-w-none;
  }

  /*========================================
    Card content spacing
  ========================================*/
  .card-content > * + * {
    @apply mt-4;
  }

  .card-title + .card-description,
  .card-description + .card-description {
    @apply mt-2;
  }

  .card-description + .card-icon-label {
    @apply sm:mt-6;
  }

  .card-icon-label + .card-description {
    @apply mt-1;
  }

  .card-icon-label + .card-icon-label {
    @apply mt-2;
  }

  .card .badge {
    @apply max-w-full
    whitespace-nowrap
    text-ellipsis
    overflow-hidden;
  }

  .card-footer > .badge {
    @apply relative
    sm:-top-4
    sm:last:-mb-4;
  }

  .card-content * + button,
  .card-content * + .button,
  .card-content * + .button-primary,
  .card-content * + .button-secondary,
  .card-content * + .button-tertiary,
  .card-content * + .button-grey,
  .card-content * + .button-grey-dark,
  .card-content * + .button-ghost-primary,
  .card-content * + .button-ghost-secondary,
  .card-content * + .button-ghost-tertiary,
  .card-content * + .button-ghost-grey,
  .card-content * + .button-white-primary,
  .card-content * + .button-white-secondary,
  .card-content * + .button-white-tertiary,
  .card-content * + .button-white-grey,
  .card-content * + .button-white-ghost-primary,
  .card-content * + .button-white-ghost-secondary,
  .card-content * + .button-white-ghost-tertiary,
  .card-content * + .button-white-ghost-grey,
  .card-content * + .button-text-primary,
  .card-content * + .button-text-secondary,
  .card-content * + .button-text-tertiary,
  .card-content * + .button-text-grey,
  .card-content * + .button-text-white {
    @apply mt-6;
  }

  .card-content button:first-child + *,
  .card-content .button:first-child + *,
  .card-content .button-primary:first-child + *,
  .card-content .button-secondary:first-child + *,
  .card-content .button-tertiary:first-child + *,
  .card-content .button-grey:first-child + *,
  .card-content .button-grey-dark:first-child + *,
  .card-content .button-ghost-primary:first-child + *,
  .card-content .button-ghost-secondary:first-child + *,
  .card-content .button-ghost-tertiary:first-child + *,
  .card-content .button-ghost-grey:first-child + *,
  .card-content .button-white-primary:first-child + *,
  .card-content .button-white-secondary:first-child + *,
  .card-content .button-white-tertiary:first-child + *,
  .card-content .button-white-grey:first-child + *,
  .card-content .button-white-ghost-primary:first-child + *,
  .card-content .button-white-ghost-secondary:first-child + *,
  .card-content .button-white-ghost-tertiary:first-child + *,
  .card-content .button-white-ghost-grey:first-child + *,
  .card-content .button-text-primary:first-child + *,
  .card-content .button-text-secondary:first-child + *,
  .card-content .button-text-tertiary:first-child + *,
  .card-content .button-text-grey:first-child + *,
  .card-content .button-text-white:first-child + * {
    @apply mt-0;
  }

  /*========================================
    Card image
  ========================================*/
  .card-image {
    @apply relative
    w-full
    aspect-video
    overflow-hidden;
  }

  .card-image img {
    @apply w-full
    h-full
    object-cover
    object-center
    transition-all
    duration-500;
  }

  .card-image-text,
  .card-image-text-white {
    @apply absolute
    left-0
    bottom-0
    flex
    flex-col
    w-full
    h-full
    p-4
    font-normal
    space-y-2
    z-10;
  }

  .card-lg .card-image-text,
  .card-lg .card-image-text-white {
    @apply sm:px-8;
  }

  /* Fix - 26 Apr 2024: 3) Play icon for facilitites overlapping the words for iphone 
     Updated .card-image-text */
  .card-image-text {
    @apply justify-end
    z-30
    
    before:content-[""]
    before:block
    before:absolute
    before:left-0
    before:bottom-0
    before:w-full
    before:h-full;
  }

  .card-image-text-white {
    @apply justify-start
    bg-white
    opacity-0
    transition-opacity
    duration-200;
  }

  .card-hover:not([disabled]):active .card-image-text-white,
  a.card:not([disabled]):active .card-image-text-white {
    @apply opacity-100;
  }

  @media (hover: hover) {
    .card-hover:not([disabled]):hover .card-image-text-white,
    a.card:not([disabled]):hover .card-image-text-white {
      @apply opacity-100;
    }
  }

  .card-image-text::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.06) 44.05%,
      rgba(0, 0, 0, 0.64) 58.09%,
      rgba(0, 0, 0, 0.9) 73.95%
    );
  }

  .card-image-text > * {
    @apply relative
    z-40;
  }

  .card-image-text-title,
  .card-image-text .paragraph-1,
  .card-image-text .paragraph-2,
  .card-image-text .paragraph-3 {
    @apply text-white;
  }

  /* Fix - 26 Apr 2024: 8) Facilities (wording space)
     Removed .card-image-text-description */
  .card-image-text-title {
    @apply line-clamp-2;
  }

  .card-image-text-description {
    @apply !text-sm;
  }

  .card-image-social-icon {
    @apply absolute
    top-3
    right-4
    text-xl
    text-white
    z-20;
  }

  .card-video .card-image::before,
  .card-video.penguin-card .card .card-content::before {
    @apply content-['']
    block
    absolute
    top-[calc(50%_-_2.5rem)]
    left-[calc(50%_-_2.5rem)]
    w-20
    h-20
    bg-cover
    bg-no-repeat
    bg-center
    z-20
    transition-all
    duration-500;

    /* background-image: url("data:image/svg+xml,%3Csvg width='110' height='110' viewBox='0 0 110 110' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_6311_24933)'%3E%3Ccircle cx='55' cy='51' r='43' fill='%23ED1C24'/%3E%3Cpath d='M47.3301 37.1387L65.8926 48.4824C66.7949 49.0625 67.375 50.0938 67.375 51.125C67.375 52.2207 66.7949 53.252 65.8926 53.7676L47.3301 65.1113C46.3633 65.6914 45.1387 65.7559 44.1719 65.1758C43.2051 64.6602 42.625 63.6289 42.625 62.4688V39.7812C42.625 38.6855 43.2051 37.6543 44.1719 37.1387C45.1387 36.5586 46.3633 36.5586 47.3301 37.1387Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_6311_24933' x='0' y='0' width='110' height='110' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_6311_24933'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_6311_24933' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A"); */

    background-image: url("assets/icon-play-button.svg");
  }

  .carousel-image .carousel-card-cropped-item.card-video .card-image::before {
    @apply scale-y-[133.333%];
  }

  .carousel-image
    .carousel-card-cropped-item.card-video.active
    .card-image::before {
    @apply scale-y-100;
  }

  /*========================================
    Closed label
  ========================================*/
  .card-closed {
    @apply after:content-["CLOSED"]
    after:absolute
    after:top-3
    after:-right-8
    after:inline-block
    after:px-10
    after:py-1
    after:bg-secondary-500
    after:text-xs
    after:text-white
    after:font-semibold
    after:rotate-[33.33deg]
    after:origin-center;
  }

  /*========================================
    Card with colored border on hover
  ========================================*/
  .card-course {
    @apply before:content-[""]
    before:absolute
    before:left-0
    before:-bottom-[0.3125rem]
    before:w-full
    before:h-[0.3125rem]
    before:bg-transparent
    before:transition-all
    before:duration-300;
  }

  .card-course .card-title {
    @apply line-clamp-3;
  }

  .card-course .card-content > .card-description + .card-title {
    @apply mt-0;
  }

  .card-course .card-caption {
    @apply text-primary-500;
  }

  .card-course.school-sdm {
    @apply before:bg-school-sdm;
  }

  .card-course.school-sas {
    @apply before:bg-school-sas;
  }

  .card-course.school-sbm {
    @apply before:bg-school-sbm;
  }

  .card-course.school-shs {
    @apply before:bg-school-shs;
  }

  .card-course.school-seg {
    @apply before:bg-school-seg;
  }

  .card-course.school-sit {
    @apply before:bg-school-sit;
  }

  .card-course.school-sdm .card-content,
  .card-course.school-sas .card-content,
  .card-course.school-sbm .card-content,
  .card-course.school-shs .card-content,
  .card-course.school-seg .card-content,
  .card-course.school-sit .card-content {
    @apply pt-4
    sm:pt-6;
  }

  /*========================================
    Hover-able cards 
  ========================================*/
  .card-hover,
  a.card {
    @apply transition-shadow
    duration-300
    [&:not([disabled])]:active:shadow-xl;
  }

  .card-hover:not([disabled]):active .card-image img,
  a.card:not([disabled]):active .card-image img {
    @apply scale-110;
  }

  .card-hover:not([disabled]):active.card-border,
  a.card:not([disabled]):active.card-course {
    @apply before:bottom-0;
  }

  @media (hover: hover) {
    .card-hover,
    a.card {
      @apply [&:not([disabled])]:hover:shadow-xl;
    }

    .card-hover:not([disabled]):hover .card-image img,
    a.card:not([disabled]):hover .card-image img {
      @apply scale-110;
    }

    .card-hover:not([disabled]):hover.card-border,
    a.card:not([disabled]):hover.card-course {
      @apply before:bottom-0;
    }
  }

  /*========================================
    Horizontal layout
  ========================================*/
  .card-horizontal {
    @apply md:flex-row
    md:items-stretch;
  }

  .card-tile .card-horizontal {
    @apply sm:flex-col
    md:flex-row;
  }

  .card-horizontal .card-image {
    @apply sm:h-[inherit]
    md:grow
    md:shrink-0
    md:w-1/2
    md:h-full;
  }

  .card-content-horizontal {
    @apply flex
    flex-col
    grow
    sm:w-2/3
    sm:border-l
    sm:border-neutral-100
    md:w-1/2;
  }

  .card-tile .card-content-horizontal {
    @apply sm:w-full
    sm:border-0
    lg:border-l;
  }

  .card-content-horizontal .card-content {
    @apply grow;
  }

  .card-tile .card-description {
    @apply line-clamp-3;
  }

  .card-content-horizontal a.card {
    @apply [&:not([disabled])]:active:shadow-none;
  }

  @media (hover: hover) {
    .card-content-horizontal a.card {
      @apply [&:not([disabled])]:hover:shadow-none;
    }
  }

  /*========================================
    Borderless card
  ========================================*/
  .card-borderless {
    @apply flex
    flex-col
    items-start
    max-md:space-y-6
    md:flex-row
    md:space-x-8;
  }

  .card-borderless button,
  .card-borderless .button {
    @apply mt-6;
  }

  .card-borderless img {
    @apply w-[21.25rem];
  }

  /*========================================
    Card with background image
  ========================================*/
  .card-image-bg {
    @apply relative;
  }

  .card-image-bg .card-image {
    @apply absolute
    left-0
    top-0
    w-full
    !h-full
    grow
    
    after:content-[""]
    after:block
    after:absolute
    after:left-0
    after:top-0
    after:w-full
    after:h-full
    after:bg-primary-800/75;
  }

  .card-image-bg .card-content,
  .card-image-bg .card-footer {
    @apply relative
    z-10;
  }

  .card-image-bg .card-title,
  .card-image-bg .card-description {
    @apply text-white;
  }

  .card-image-bg:not([disabled]):active .card-title,
  .card-image-bg:not([disabled]):active .card-description {
    @apply text-white;
  }

  @media (hover: hover) {
    .card-image-bg:not([disabled]):hover .card-title,
    .card-image-bg:not([disabled]):hover .card-description {
      @apply text-white;
    }
  }

  /*========================================
    Tile carousel hybrid (alumni)
  ========================================*/
  .card-tile {
    @apply max-md:w-full
    overflow-hidden;
  }

  .card-tile-inner {
    @apply flex
    gap-6
    transition-transform
    duration-500
    will-change-transform
    max-md:cursor-grab
    max-md:active:cursor-grabbing
    max-md:w-max
    md:flex-col
    md:px-6;
  }

  .card-tile-items {
    @apply flex
    items-stretch
    gap-6
    max-md:shrink-0;
  }

  .card-tile-items-sm,
  .card-tile-items-lg {
    @apply flex
    w-full
    gap-6
    md:flex-col;
  }

  .card-tile-items-sm > *,
  .card-tile-items-lg > * {
    @apply grow
    max-sm:w-[min(calc(100vw_-_4.75rem),_calc(2560px_-_4.75rem))] /* Upper boundary limit */
    max-md:w-[min(calc(50vw_-_3.25rem),_calc(1280px_-_3.25rem))] /* Upper boundary limit */
    max-md:shrink-0;
  }

  .only-page .card-tile-items-sm > *,
  .only-page .card-tile-items-lg > * {
    @apply max-sm:w-[min(calc(100vw_-_3rem),_calc(2560px_-_3rem))] /* Upper boundary limit */
    max-md:w-[min(calc(50vw_-_2.25rem),_calc(1280px_-_2.25rem))] /* Upper boundary limit */;
  }

  .only-page .card-tile-items-sm:only-child > *,
  .only-page .card-tile-items-lg:only-child > * {
    @apply max-md:w-[min(calc(100vw_-_3rem),_calc(2560px_-_3rem))] /* Upper boundary limit */;
  }

  .card-tile-items-sm {
    @apply md:w-[calc(50%_-_0.75rem)]
    lg:w-[26rem];
  }

  .card-tile-items-lg {
    @apply md:w-[calc(50%_-_0.75rem)]
    lg:w-[calc(100%_-_26rem)];
  }

  .card-tile .card-content {
    @apply max-md:select-none;
  }

  /* UAT fixes (internal tracker) - Issue 25 */
  .card-tile .card-image {
    @apply only:grow
    md:aspect-[2.15];
  }

  /*========================================
    Tilted cards
  ========================================*/
  .card-tilted {
    @apply pt-[0.5rem]
    pb-[1.5rem];
  }

  .card-tilted .card-title,
  .card-tilted .card-description {
    @apply text-white
    line-clamp-2;
  }

  .card-tilted .card:active .card-title,
  .card-tilted .card:active .card-description {
    @apply text-white;
  }

  @media (hover: hover) {
    .card-tilted .card:hover .card-title,
    .card-tilted .card:hover .card-description {
      @apply text-white;
    }
  }

  .card-tilted .card {
    @apply border-0
    overflow-visible;
  }

  .card-tilted .card-content {
    @apply rounded-t-2xl;
  }

  .card-tilted .card-image {
    @apply rounded-b-2xl;
  }

  .card-tilted .badge {
    @apply line-clamp-1;
  }

  .card-tilted .card > * {
    @apply origin-center
    shadow-md;
  }

  .card-tilted .card:nth-child(odd) .card-content {
    @apply bg-primary-600;
  }

  .card-tilted .card:nth-child(even) .card-content {
    @apply bg-secondary-600;
  }

  .card-tilted .card:nth-child(odd) .badge {
    @apply bg-white
    text-primary-600
    border-white;
  }

  .card-tilted .card:nth-child(even) .badge {
    @apply bg-white
    text-secondary-600
    border-white;
  }

  .card-tilted .card:nth-child(1n) > *,
  .card-tilted .card:nth-child(6n + 1) > * {
    @apply -rotate-[3deg];
  }

  .card-tilted .card:nth-child(1n) > .card-image,
  .card-tilted .card:nth-child(6n + 1) > .card-image {
    @apply -translate-y-[0.0625rem]
    translate-x-[3.8%]
    xs:translate-x-[3.4%]
    sm:translate-x-[4.5%]
    md:translate-x-[3.9%]
    lg:translate-x-[3.7%]
    xl:translate-x-[3.8%];
  }

  .card-tilted .card:nth-child(2n) > *,
  .card-tilted .card:nth-child(6n + 2) > * {
    @apply rotate-[0]
    translate-y-[1.5rem]
    translate-x-[0.25rem];
  }

  .card-tilted .card:nth-child(2n) > .card-image,
  .card-tilted .card:nth-child(6n + 2) > .card-image {
    @apply translate-y-[1.5rem]
    translate-x-[0.25rem];
  }

  .card-tilted .card:nth-child(3n) > *,
  .card-tilted .card:nth-child(6n + 3) > * {
    @apply -rotate-[3deg]
    -translate-x-[0.5rem];
  }

  .card-tilted .card:nth-child(3n) > .card-image,
  .card-tilted .card:nth-child(6n + 3) > .card-image {
    @apply -translate-y-[0.0625rem]
    translate-x-[calc(3.8%_-_0.5rem)]
    xs:translate-x-[calc(3.4%_-_0.5rem)]
    sm:translate-x-[calc(4.5%_-_0.5rem)]
    md:translate-x-[calc(3.9%_-_0.5rem)]
    lg:translate-x-[calc(3.7%_-_0.5rem)]
    xl:translate-x-[calc(3.8%_-_0.5rem)];
  }

  .card-tilted .card:nth-child(4n) > *,
  .card-tilted .card:nth-child(6n + 4) > * {
    @apply rotate-[2deg]
    translate-y-[1.5rem];
  }

  .card-tilted .card:nth-child(4n) > .card-image,
  .card-tilted .card:nth-child(6n + 4) > .card-image {
    @apply translate-y-[1.4375rem]
    -translate-x-[1.2%]
    xs:-translate-x-[1.4%]
    sm:-translate-x-[1.3%]
    md:-translate-x-[1.4%]
    lg:-translate-x-[1.5%]
    xl:-translate-x-[1.5%];
  }

  .card-tilted .card:nth-child(5n) > *,
  .card-tilted .card:nth-child(6n + 5) > * {
    @apply rotate-[6.5deg]
    translate-y-[1rem]
    translate-x-[1rem];
  }

  .card-tilted .card:nth-child(5n) > .card-image,
  .card-tilted .card:nth-child(6n + 5) > .card-image {
    @apply translate-y-[0.8125rem]
    -translate-x-[3.3%]
    xs:-translate-x-[3.8%]
    sm:-translate-x-[3.1%]
    md:-translate-x-[3.8%]
    lg:-translate-x-[4.3%]
    xl:-translate-x-[3.9%];
  }

  .card-tilted .card:nth-child(6n) > *,
  .card-tilted .card:nth-child(6n + 6) > * {
    @apply rotate-[0]
    -translate-y-[0.5rem]
    translate-x-0;
  }

  .card-tilted .card:nth-child(6n) > .card-image,
  .card-tilted .card:nth-child(6n + 6) > .card-image {
    @apply -translate-y-[0.5rem]
    translate-x-0;
  }

  /*========================================
    Cards: Student home, school
  ========================================*/
  .card-student-school {
    @apply relative
    flex
    bg-white
    rounded-xl
    border
    border-neutral-200
    shadow-lg
    no-underline
    overflow-hidden
    active:bg-black;
  }

  @media (hover: hover) {
    .card-student-school {
      @apply hover:bg-black;
    }
  }

  .card-student-school-content {
    @apply relative
    z-10
    flex
    flex-col
    items-center
    justify-center
    text-center
    grow
    py-10
    px-8
    sm:py-20;
  }

  .card-student-school-title,
  .card-student-school-description,
  p.card-student-school-description.paragraph-1,
  p.card-student-school-description.paragraph-2,
  p.card-student-school-description.paragraph-3 {
    @apply text-primary-500;
  }

  .card-student-school-title,
  .card-student-school-description {
    @apply font-bold
    transition-all
    duration-100
    
    after:transition-all
    after:duration-100;
  }

  .card-student-school-description,
  p.card-student-school-description.paragraph-1,
  p.card-student-school-description.paragraph-2,
  p.card-student-school-description.paragraph-3 {
    @apply font-semibold;
  }

  .card-student-school-title + .card-student-school-description {
    @apply mt-2;
  }

  .card-student-school:active .card-student-school-title,
  .card-student-school:active .card-student-school-description {
    @apply text-white;
  }

  @media (hover: hover) {
    .card-student-school:hover .card-student-school-title,
    .card-student-school:hover .card-student-school-description {
      @apply text-white;
    }
  }

  .card-student-school-image {
    @apply absolute
    top-0
    left-0
    w-full
    h-full
    
    after:content-[""]
    after:block
    after:absolute
    after:top-0
    after:left-0
    after:w-full
    after:h-full
    after:bg-white
    after:transition-all
    after:duration-100;
  }

  .card-student-school:active .card-student-school-image {
    @apply after:bg-black
    after:opacity-70;
  }

  @media (hover: hover) {
    .card-student-school:hover .card-student-school-image {
      @apply after:bg-black
      after:opacity-70;
    }
  }

  .card-student-school-image img {
    @apply w-full
    h-full
    object-cover
    object-top
    transition-transform
    duration-200
    sm:object-center;
  }

  .card-student-school:active .card-student-school-image img {
    @apply scale-110;
  }

  @media (hover: hover) {
    .card-student-school:hover .card-student-school-image img {
      @apply scale-110;
    }
  }

  .card-student-school-arrow {
    @apply w-[2.5rem]
    max-w-[2.5rem]
    min-w-[2.5rem]
    h-[2.5rem]
    max-h-[2.5rem]
    min-h-[2.5rem]
    mt-6
    after:transition-all
    after:duration-100;
  }

  .card-student-school:active .card-student-school-arrow {
    @apply text-primary-500
    bg-white;
  }

  @media (hover: hover) {
    .card-student-school:hover .card-student-school-arrow {
      @apply text-primary-500
      bg-white;
    }
  }

  .card-student-school:nth-child(1n),
  .card-student-school:nth-child(6n + 1) {
    @apply rotate-[8deg]
    z-20
    sm:z-10
    sm:rotate-[7.72deg]
    sm:translate-x-0
    sm:translate-y-0
    xl:translate-x-0
    xl:translate-y-0;
  }

  .card-student-school:nth-child(2n),
  .card-student-school:nth-child(6n + 2) {
    @apply -rotate-[8deg]
    z-10
    sm:z-20
    sm:-rotate-[8.97deg];
  }

  .card-student-school:nth-child(3n),
  .card-student-school:nth-child(6n + 3) {
    @apply rotate-[8deg]
    z-30
    sm:-rotate-[10.33deg]
    xl:rotate-[10.33deg];
  }

  .card-student-school:nth-child(4n),
  .card-student-school:nth-child(6n + 4) {
    @apply -rotate-[8deg]
    z-50
    sm:rotate-[9.66deg]
    xl:-rotate-[9.66deg];
  }

  .card-student-school:nth-child(5n),
  .card-student-school:nth-child(6n + 5) {
    @apply rotate-[8deg]
    z-40
    xl:rotate-[8.75deg];
  }

  .card-student-school:nth-child(6n),
  .card-student-school:nth-child(6n + 6) {
    @apply -rotate-[8deg]
    z-[60]
    sm:-rotate-[10.62deg];
  }

  /*========================================
    Card with text overlay
  ========================================*/
  .card-text-overlay .card-content {
    @apply grow-0
    pb-0;
  }

  .card-text-overlay .card-image {
    @apply flex
    justify-center
    items-center
    h-auto
    grow
    aspect-auto
    p-4;
  }

  .card-text-overlay .card-image img {
    @apply object-contain
    w-full
    max-w-[12rem]
    h-auto;
  }

  .card-text-overlay.card-hover:not([disabled]):hover .card-image img,
  a.card-text-overlay.card:not([disabled]):hover .card-image img {
    @apply scale-100
      duration-200;
  }

  .card-text-overlay .banner-button > span {
    @apply opacity-100
    transition-opacity
    duration-200;
  }

  .card-text-overlay.card-hover:not([disabled]):active .banner-button > span,
  a.card-text-overlay.card:not([disabled]):active .banner-button > span {
    @apply opacity-100;
  }

  @media (hover: hover) {
    .card-text-overlay .banner-button > span {
      @apply opacity-0;
    }

    .card-text-overlay.card-hover:not([disabled]):hover .banner-button > span,
    a.card-text-overlay.card:not([disabled]):hover .banner-button > span {
      @apply opacity-100;
    }
  }
}
