@layer components {
  /*========================================
    Carousel (full)
  ========================================*/
  .carousel-full {
    @apply relative
    overflow-hidden;
  }

  .carousel-full-items {
    @apply flex
    w-max
    translate-x-0
    transition-transform
    duration-500
    will-change-transform;
  }

  .carousel-full-item {
    @apply w-full
    shrink-0
    overflow-hidden;
  }

  .carousel-full-image {
    @apply w-full
    h-full
    object-cover
    object-center;
  }

  /*========================================
    Carousel (cards)
  ========================================*/
  .carousel-card-cropped {
    @apply relative
    overflow-visible;
  }

  .side-nav-content-wrapper .carousel-card-cropped {
    @apply overflow-hidden;
  }

  .carousel-card-cropped-inner {
    @apply !flex-nowrap
    transition-transform
    duration-500
    will-change-transform;
  }

  .carousel-card-cropped-item {
    @apply shrink-0
    /* select-none; */;
  }

  /* 1 column */
  .carousel-card-cropped-inner.col-1,
  .carousel-card-cropped-inner.col-2,
  .carousel-card-cropped-inner.col-3 {
    @apply !mb-0;
  }

  .carousel-card-cropped-inner > *,
  .carousel-card-cropped-inner.col-1 > *,
  .carousel-card-cropped-inner.col-2 > *,
  .carousel-card-cropped-inner.col-3 > * {
    @apply w-[calc(100%_-_4.5rem)]
    !mb-0;
  }

  .card-tilted .carousel-card-cropped-inner > *,
  .card-tilted .carousel-card-cropped-inner.col-1 > *,
  .card-tilted .carousel-card-cropped-inner.col-2 > *,
  .card-tilted .carousel-card-cropped-inner.col-3 > * {
    @apply xs:w-[calc(100%_-_6rem)];
  }

  .carousel-card-cropped-inner.col-2 > * {
    @apply sm:w-[calc(50%_-_1rem)];
  }

  .card-tilted .carousel-card-cropped-inner.col-2 > *,
  .card-tilted .carousel-card-cropped-inner.col-3 > * {
    @apply sm:w-[calc(50%_-_5.5rem)];
  }

  .carousel-card-cropped-inner.col-2 > .carousel-card-cropped-item-lg,
  .carousel-card-cropped-inner.col-3 > .carousel-card-cropped-item-lg {
    @apply sm:w-[calc(100%_-_4.5rem)];
  }

  /* 3 columns */
  .carousel-card-cropped-inner.col-3 > *,
  .side-nav-content-wrapper .carousel-card-cropped-inner.col-2 > * {
    @apply sm:w-[calc(50%_-_3rem)];
  }

  .carousel-card-cropped-inner.col-3 > * {
    @apply xl:w-[calc(33.3333%_-_2rem)];
  }

  .side-nav-content-wrapper .carousel-card-cropped-inner.col-3 > * {
    @apply xl:w-[calc(33.3333%_-_2.5rem)];
  }

  .card-tilted .carousel-card-cropped-inner.col-3 > * {
    @apply xl:w-[calc(33.3333%_-_5.5rem)];
  }

  .carousel-card-cropped-inner.col-3 > .carousel-card-cropped-item-lg {
    @apply xl:w-[calc(66.6666%_-_2.5rem)];
  }

  /* Blue square bg */
  .carousel-card-cropped.blue-square {
    @apply before:content-[""]
    before:block
    before:absolute
    before:top-6
    before:left-12
    before:w-[min(max(calc(100vw_-_3rem),_calc(100vw_-_38rem)),_max(calc(2560px_-_3rem),_calc(2560px_-_38rem)))] /* Upper boundary limit */
    before:h-full
    before:bg-primary-600;
  }

  [data-breakpoint="xl"].carousel-card-cropped {
    @apply w-full;
  }

  [data-breakpoint="xl"] .carousel-card-cropped-inner {
    @apply max-xl:!flex-wrap
    max-xl:px-6;
  }

  [data-breakpoint="xl"].carousel-card-cropped.blue-square {
    @apply before:max-xl:hidden;
  }

  [data-breakpoint="xl"] .carousel-card-cropped-inner > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-1 > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-2 > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-3 > *,
  [data-breakpoint="xl"]
    .carousel-card-cropped-inner.col-2
    > .carousel-card-cropped-item-lg,
  [data-breakpoint="xl"]
    .carousel-card-cropped-inner.col-3
    > .carousel-card-cropped-item-lg {
    @apply max-xl:w-[min(100%,_68.5rem)];
  }

  [data-breakpoint="xl"] .carousel-card-cropped-inner > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-1 > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-2 > *,
  [data-breakpoint="xl"] .carousel-card-cropped-inner.col-3 > * {
    @apply max-sm:max-xl:w-[min(100%,_68.5rem)]
    max-xl:w-[min(calc(50%_-_0.75rem),_33.5rem)];
  }

  /*========================================
    Image
  ========================================*/
  /* Fix - 10 May 2024: Fix for facilites carousel not displaying correctly in smaller screens */
  .carousel-image {
    @apply w-full
    max-w-[min(100%,_39.75rem)] /* Upper boundary limit */
    overflow-visible
    mx-auto;
  }

  .carousel-image .single-slide {
    @apply max-w-[39.75rem]
    mx-auto;
  }

  .carousel-image .single-slide .carousel-card-cropped-item {
    @apply w-full;
  }

  /* Updated image carousel */
  .carousel-image .carousel-card-cropped-inner {
    @apply items-start;
  }

  .carousel-image .carousel-card-cropped-item {
    @apply border-0
    rounded-none
    bg-transparent;
  }

  /* Updated image carousel */
  .carousel-image .only-page {
    @apply gap-y-10;
  }

  @media (hover: hover) {
    .carousel-image .carousel-card-cropped-item {
      @apply [&:not([disabled])]:hover:shadow-none;
    }
  }

  .carousel-image .carousel-card-cropped-item .carousel-card-cropped-image {
    @apply relative
    after:content-[""]
    after:absolute
    after:top-0
    after:left-0
    after:w-full
    after:h-full
    after:z-40
    after:bg-black
    after:opacity-50
    after:transition-opacity
    after:duration-300;
  }

  /* Fix - 26 Apr 2024: 8) Facilities (wording space) 
     Updated opacity and z-index */

  /* Updated image carousel */
  .carousel-image
    .carousel-card-cropped-item.active
    .carousel-card-cropped-image {
    @apply after:opacity-0
    after:z-0;
  }

  @media (hover: hover) {
    .carousel-image
      .carousel-card-cropped-item:not([disabled]):hover
      .card-image
      img {
      @apply scale-y-[133.333%]
      scale-x-100;
    }
  }

  .carousel-image .carousel-card-cropped-item .carousel-card-cropped-image {
    @apply scale-y-75
    transition-transform
    duration-500;
  }

  /* Image carousel fix - Added 23 Apr 2024 */
  .carousel-image .carousel-card-cropped-item:not(.card-video) {
    @apply cursor-default;
  }

  .carousel-image .carousel-card-cropped-item .carousel-card-cropped-image > * {
    @apply scale-y-[133.333%]
    transition-transform
    duration-500;
  }

  .carousel-image
    .carousel-card-cropped-item.active
    .carousel-card-cropped-image,
  .carousel-image
    .carousel-card-cropped-item.active
    .carousel-card-cropped-image
    > * {
    @apply scale-y-100;
  }

  @media (hover: hover) {
    .carousel-image
      .carousel-card-cropped-item.active:not([disabled]):hover
      .card-image
      img {
      @apply scale-100;
    }

    /* Image carousel fix - Added 23 Apr 2024 */
    .carousel-image
      .carousel-card-cropped-item.card-video.active:not([disabled]):hover
      .card-image
      img {
      @apply scale-110;
    }
  }

  .carousel-image .carousel-card-cropped-item .card-image-text {
    @apply p-4
    opacity-0
    duration-500
    sm:p-8;

    transition-property: opacity, transform;
  }

  /* Fix - 26 Apr 2024: 8) Facilities (wording space) 
     Updated .carousel-image .carousel-card-cropped-item.active .card-image-text */
  .carousel-image .carousel-card-cropped-item.active .card-image-text {
    @apply opacity-100
    drop-shadow-text;
  }

  /* Fix - 26 Apr 2024: 8) Facilities (wording space) 
     Updated .carousel-image .card-image-text::before */
  .carousel-image .card-image-text::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.06) 50%,
      rgba(0, 0, 0, 0.64) 80%,
      rgba(0, 0, 0, 0.9) 90%
    );
  }

  /* Updated image carousel */
  .carousel-image .card-footer {
    @apply flex-col
  pt-4
  pb-0
  px-0
  opacity-0
  transition-all
  duration-300
  min-h-[10rem]
  sm:px-0
  sm:pb-0;
  }

  /* Updated image carousel */
  .carousel-image .only-page .card-footer {
    @apply min-h-0;
  }

  /* Updated image carousel */
  .carousel-image .carousel-card-cropped-item {
    @apply transition-all;
  }

  /* Updated image carousel */
  .carousel-image .carousel-card-cropped-item.active .card-footer {
    @apply opacity-100;
  }

  /* Updated image carousel */
  .carousel-image .card-footer .card-image-text-title {
    @apply text-neutral-700;
  }

  /* Updated image carousel */
  .carousel-image .card-footer .card-image-text-description {
    @apply mt-0
  font-normal;
  }

  /*========================================
    Testimonial
  ========================================*/
  .carousel-testimonial,
  .carousel-single-card {
    @apply relative
    max-w-container-xl
    mx-auto
    sm:px-[4.75rem];
  }

  .carousel-single-card {
    @apply sm:-mb-6;
  }

  .carousel-single-card .carousel-card-cropped-inner {
    @apply pb-6;
  }

  .carousel-testimonial .card {
    @apply text-left;
  }

  .carousel-single-card .card.active {
    @apply shadow-lg;
  }

  .carousel-testimonial .carousel-card-cropped-inner.col-1 > *,
  .carousel-single-card .carousel-card-cropped-inner.col-1 > * {
    @apply w-[calc(100%_-_3rem)];
  }

  .carousel-testimonial .card-description {
    @apply font-semibold
    
    before:content-[""]
    before:relative
    before:block
    before:w-[2rem]
    before:h-[1.4375rem]
    before:mb-2
    before:bg-contain
    before:bg-no-repeat
    before:bg-center
    before:bg-primary-400;
  }

  .carousel-testimonial .avatar-image {
    @apply max-sm:hidden;
  }

  .carousel-testimonial .card-description,
  .carousel-testimonial .card-description.paragraph-1,
  .carousel-testimonial .card-description.paragraph-2,
  .carousel-testimonial .card-description.paragraph-3 {
    @apply text-primary-700;
  }
  /* Zoom fix
      Updated "-webkit-mask-image" and "mask-image" */
  .carousel-testimonial .card-description::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 63 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17.375C0 8.09375 7.45312 0.5 16.875 0.5H18H22.5V9.5H18H16.875C12.5156 9.5 9 13.1562 9 17.375V18.5H27V45.5H0V32V18.5V17.375ZM36 17.375C36 8.09375 43.4531 0.5 52.875 0.5H54H58.5V9.5H54H52.875C48.5156 9.5 45 13.1562 45 17.375V18.5H63V45.5H36V32V18.5V17.375Z' fill='%233591FB'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 63 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17.375C0 8.09375 7.45312 0.5 16.875 0.5H18H22.5V9.5H18H16.875C12.5156 9.5 9 13.1562 9 17.375V18.5H27V45.5H0V32V18.5V17.375ZM36 17.375C36 8.09375 43.4531 0.5 52.875 0.5H54H58.5V9.5H54H52.875C48.5156 9.5 45 13.1562 45 17.375V18.5H63V45.5H36V32V18.5V17.375Z' fill='%233591FB'/%3E%3C/svg%3E%0A");
  }

  .carousel-testimonial .carousel-arrows,
  .carousel-single-card .carousel-arrows {
    @apply static
    max-sm:hidden;
  }

  .carousel-testimonial .carousel-arrow-back,
  .carousel-single-card .carousel-arrow-back {
    @apply left-6;
  }

  .carousel-testimonial .carousel-arrow-next,
  .carousel-single-card .carousel-arrow-next {
    @apply right-6;
  }

  .carousel-single-card .carousel-arrow-back,
  .carousel-single-card .carousel-arrow-next {
    @apply -mt-6;
  }

  .carousel-testimonial .card-horizontal .card-image {
    @apply bg-white
    flex
    items-center
    justify-center
    p-6
    md:max-w-[15rem]
    lg:max-w-[19rem];
  }

  .carousel-testimonial .card-horizontal .card-image img {
    @apply object-contain
    m-auto;
  }

  /*========================================
    Carousel arrows
  ========================================*/
  .carousel-arrows {
    @apply flex
    space-x-4
    max-sm:hidden;
  }
  .carousel-card-cropped .carousel-arrows {
    @apply max-sm:flex;
  }

  .carousel-card-cropped .carousel-arrow-back,
  .carousel-card-cropped .carousel-arrow-next,
  .carousel-testimonial .carousel-arrow-back,
  .carousel-testimonial .carousel-arrow-next,
  .carousel-single-card .carousel-arrow-back,
  .carousel-single-card .carousel-arrow-next {
    @apply absolute
    top-[calc(40%_-_1.5rem)] /* Updated for sustainability */
    z-10
    sm:top-[calc(30%_-_1.5rem)] /* Updated for sustainability */
    md:top-[calc(40%_-_1.5rem)] /* Updated for sustainability */
    max-lg:w-11
    max-lg:h-11
    max-lg:max-w-[2.75rem]
    max-lg:min-w-[2.75rem]
    lg:top-[calc(42%_-_1.625rem)]; /* Updated for sustainability */
  }

  /* Updated for sustainability */
  .carousel-card-cropped .carousel-arrow-back[disabled],
  .carousel-card-cropped .carousel-arrow-next[disabled] {
    @apply opacity-0;
  }

  .carousel-card-cropped.show-disabled-arrows .carousel-arrow-back[disabled],
  .carousel-card-cropped.show-disabled-arrows .carousel-arrow-next[disabled] {
    @apply opacity-50;
  }

  .carousel-card-cropped .carousel-arrow-back {
    @apply left-2
    lg:-left-3;
  }

  .carousel-card-cropped .carousel-arrow-back.button-sm {
    @apply lg:left-5
    xl:left-1;
  }

  /* Fix - 26 Apr 2024: 8) Facilities (wording space)
     Updated carousel-card-cropped .carousel-arrow-next  */
  .carousel-card-cropped .carousel-arrow-next {
    @apply right-2
    lg:-right-3;
  }

  .carousel-card-cropped .carousel-arrow-next.button-sm {
    @apply lg:right-5
    xl:right-1;
  }

  /* Updated image carousel */
  .carousel-image .carousel-card-cropped .carousel-arrow-back,
  .carousel-image .carousel-card-cropped .carousel-arrow-next {
    @apply top-[max(20%,_3rem)]
    xs:top-[max(25%,_5rem)]
    sm:top-[max(30%,_8rem)];
  }

  .carousel-image .carousel-card-cropped .carousel-arrow-back {
    @apply lg:-left-16;
  }

  .carousel-image .carousel-card-cropped .carousel-arrow-next {
    @apply lg:-right-16;
  }

  .carousel-arrows .slide-name {
    @apply absolute
    top-[3.75rem]
    w-[10rem]
    text-white
    leading-tight
    max-lg:hidden;
  }

  .carousel-card-cropped .carousel-arrow-back .slide-name {
    @apply right-0
    text-right;
  }

  .carousel-card-cropped .carousel-arrow-next .slide-name {
    @apply left-0
    text-left;
  }

  /*========================================
    Carousel indicator (white)
  ========================================*/
  .carousel-full .carousel-indicator-wrapper,
  .card-tilted .carousel-indicator-wrapper {
    @apply absolute
    left-0
    bottom-0
    pt-0
    pb-4
    mb-0
    z-40;
  }

  .page-banner-carousel .carousel-indicator-wrapper {
    @apply w-auto
    pt-0;
  }

  .card-tilted .carousel-indicator-wrapper {
    @apply pb-[4.75rem];
  }

  .carousel-card-cropped.blue-square .carousel-indicator-wrapper {
    @apply mt-6;
  }

  .carousel-single-card .carousel-indicator-wrapper {
    @apply -mt-6;
  }

  .carousel-full .carousel-indicator-wrapper-inner,
  .card-tilted .carousel-indicator-wrapper-inner,
  .page-banner-carousel .carousel-indicator-wrapper-inner {
    @apply bg-black/40;
  }

  .carousel-full .carousel-indicator::before,
  .bg-primary .carousel-indicator::before,
  .card-tilted .carousel-indicator::before,
  .page-banner-carousel .carousel-indicator::before {
    @apply border-white
    -mt-2;
  }

  @media (hover: hover) {
    .carousel-full .carousel-indicator::before,
    .bg-primary .carousel-indicator::before,
    .card-tilted .carousel-indicator::before,
    .page-banner-carousel .carousel-indicator::before {
      @apply hover:bg-white;
    }
  }

  .carousel-full .carousel-indicator.active::before,
  .bg-primary .carousel-indicator.active::before,
  .card-tilted .carousel-indicator.active::before,
  .page-banner-carousel .carousel-indicator.active::before {
    @apply bg-white;
  }
}

/*========================================
  Carousel indicator
========================================*/
.carousel-indicator-wrapper {
  @apply static
  flex
  items-center
  justify-center
  w-full
  pt-5
  -mb-1
  z-10;
}

.carousel-image .carousel-indicator-wrapper {
  @apply hidden;
}

.carousel-card-cropped .carousel-indicator-wrapper,
.card-tile .carousel-indicator-wrapper {
  @apply sm:hidden;
}

.carousel-indicator-wrapper-inner {
  @apply inline-flex
  mx-auto
  bg-transparent
  px-4
  py-3
  rounded-full;
}

.carousel-indicator-wrapper-inner > li {
  @apply relative;
}

.carousel-indicator {
  @apply flex
  items-center
  justify-center
  w-6
  h-6
  -mb-2
  transition-all
  duration-200

  before:content-[""]
  before:inline-block
  before:w-2
  before:h-2
  before:rounded-full
  before:border
  before:border-primary-500
  before:bg-transparent
  before:transition-all
  before:duration-200;
}

@media (hover: hover) {
  .carousel-indicator {
    @apply before:hover:bg-primary-500;
  }
}

.carousel-indicator.active {
  @apply w-10
  before:w-8
  before:bg-primary-500;
}

.only-page {
  @apply justify-center;
}

.only-page.carousel-card-cropped-inner {
  @apply w-full;
}

.only-page.carousel-card-cropped-inner > *,
.only-page.carousel-card-cropped-inner.col-1 > *,
.only-page.carousel-card-cropped-inner.col-2 > *,
.only-page.carousel-card-cropped-inner.col-3 > * {
  @apply w-[calc(100%_-_3rem)]
  only:w-[calc(100%_-_3rem)];
}

.side-nav-content-wrapper .only-page.carousel-card-cropped-inner > *,
.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-1 > *,
.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-2 > *,
.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-3 > * {
  @apply w-full
  only:w-full;
}

.only-page.carousel-card-cropped-inner.col-2 > *,
.only-page.carousel-card-cropped-inner.col-3 > * {
  @apply sm:w-[calc(50%_-_2.25rem)]
  only:sm:w-[calc(50%_-_2.25rem)];
}

.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-2 > *,
.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-3 > * {
  @apply sm:w-[calc(50%_-_0.75rem)]
  only:sm:w-[calc(50%_-_0.75rem)];
}

.only-page.carousel-card-cropped-inner.col-3 > * {
  @apply xl:w-[calc(33.3333%_-_2rem)]
  only:xl:w-[calc(33.3333%_-_2rem)];
}

.side-nav-content-wrapper .only-page.carousel-card-cropped-inner.col-3 > * {
  @apply xl:w-[calc(33.3333%_-_1rem)]
  only:xl:w-[calc(33.3333%_-_1rem)];
}

.only-page .carousel-card-cropped-item {
  @apply shrink;
}

/*========================================
  Three Stacked Card 
========================================*/
.three-deck-component {
  @apply flex 
  flex-col 
  pt-0 
  pb-14
  max-w-[90rem]
  my-0 
  mx-auto 
  items-center
  justify-center
  lg:flex-row
  lg:pt-10
  lg:pb-20;
}

.carousel-shuffle-deck {
  @apply relative
  order-2
  flex
  items-center
  justify-center
  w-[calc(100%_-_6rem)]
  max-w-[26rem]
  mx-[6rem]
  lg:order-1;
}

.carousel-shuffle-deck .carousel {
  @apply relative
  flex 
  items-center
  w-full
  my-0 
  mx-auto;
}

/* Zoom fix
   Updated .carousel-shuffle-deck .carousel__list */
.carousel-shuffle-deck .carousel__list {
  @apply relative
  flex 
  justify-center
  list-none
  w-full;

  perspective: 18.75rem;
}

.carousel-shuffle-deck .carousel__item {
  @apply flex 
  items-center 
  justify-center 
  text-[0rem]
  w-full
  rounded-xl 
  absolute 
  bg-white
  shadow-md
  scale-[0.8]
  opacity-0
  z-[1]
  transition-all
  duration-500;
}

.carousel-shuffle-deck .carousel__item[data-pos="0"] {
  @apply z-[5]
  scale-100
  opacity-100
  relative;
}

.carousel-shuffle-deck .carousel__item[data-pos="-1"] {
  @apply opacity-100
  -translate-x-[6rem]
  -rotate-[4.38deg];
}

.carousel-shuffle-deck .carousel__item[data-pos="1"] {
  @apply opacity-100
  translate-x-[6rem]
  rotate-[4.38deg];
}

/* Issue List - Issue 11
   Updated .carousel-shuffle-deck .carousel__item .card */
.carousel-shuffle-deck .carousel__item .card {
  @apply relative
  border-none
  text-white;
}

@media (hover: hover) {
  .carousel-shuffle-deck .carousel__item .card {
    @apply hover:text-white;
  }
}

.carousel-shuffle-deck .carousel__item p,
.carousel-shuffle-deck .carousel__item q,
.carousel-shuffle-deck .carousel__item blockquote {
  @apply !text-white
  line-clamp-6;
}

.carousel-shuffle-deck .card-description,
.carousel-shuffle-deck .bullet-divider {
  @apply opacity-0
  transition-opacity
  duration-500;
}

.carousel-shuffle-deck .carousel__item[data-pos="0"] .card-description,
.carousel-shuffle-deck .carousel__item[data-pos="0"] .bullet-divider {
  @apply opacity-100;
}

.carousel-shuffle-deck .bullet-divider > :after {
  @apply bg-white;
}

.carousel-shuffle-deck .card-content {
  @apply transition-all
  duration-300;
}

.carousel-shuffle-deck #prevCarouselButton,
.carousel-shuffle-deck #nextCarouselButton {
  @apply absolute
  top-[calc(30%_-_1.5rem)]
  flex 
  justify-center 
  items-center
  h-12
  w-12
  min-w-[3rem]
  max-w-[3rem]
  px-0
  rounded-full 
  cursor-pointer 
  bg-white
  border
  border-primary-500
  text-primary-500 
  shadow-md
  transition-all
  duration-300
  sm:top-[calc(50%_-_1.625rem)]
  sm:flex
  sm:h-13 
  sm:w-13 
  sm:min-w-[3.25rem]
  sm:max-w-[3.25rem];
}

@media (hover: hover) {
  .carousel-shuffle-deck #prevCarouselButton:hover,
  .carousel-shuffle-deck #nextCarouselButton:hover {
    @apply bg-neutral-50;
  }
}

.carousel-shuffle-deck #prevCarouselButton {
  @apply -left-4
  sm:-left-[4.875rem];
}

.carousel-shuffle-deck #nextCarouselButton {
  @apply -right-4
  sm:-right-[4.875rem];
}

.carousel-shuffle-deck .carousel::after {
  @apply content-[""]
  absolute
  -top-7
  left-6
  w-[4.375rem]
  h-[2.875rem]
  block
  bg-[url("../../dist/assets/open-bracket-mark.svg")]
  bg-contain
  bg-no-repeat
  z-20
  sm:w-[6.5625rem] 
  sm:h-[4.75rem]
  sm:-top-9
  sm:-left-4;
}
