@layer utilities {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    @apply flex
    flex-wrap
    gap-6;
  }

  .col-contact {
    @apply sm:gap-x-8
    sm:gap-y-12;
  }

  .col-1 > *,
  .col-2 > *,
  .col-3 > *,
  .col-4 > * {
    @apply w-full;
  }
  .col-2 > *,
  .col-3 > *,
  .col-4 > * {
    @apply sm:w-[calc(50%_-_0.75rem)];
  }

  .col-contact.col-2 > *,
  .col-contact.col-3 > *,
  .col-contact.col-4 > * {
    @apply sm:w-[calc(50%_-_1rem)];
  }

  .col-3 > * {
    @apply xl:w-[calc(33.3333%_-_1rem)];
  }

  .col-contact.col-3 > * {
    @apply xl:w-[calc(33.3333%_-_1.375rem)];
  }

  .col-4 > * {
    @apply lg:w-[calc(33.3333%_-_1rem)]
    xl:w-[calc(25%_-_1.125rem)];
  }

  .col-contact.col-4 > * {
    @apply lg:w-[calc(33.3333%_-_1.375rem)]
    xl:w-[calc(25%_-_1.5rem)];
  }
}
