/*========================================
  Wave effect 
========================================*/
.wiper {
  @apply hidden
  fixed
  top-0
  z-[1200]
  h-screen
  w-full
  bg-white
  bg-[linear-gradient(180deg,_rgba(255,_255,_255,_1)_16%,_rgba(205,_230,_251,_1)_82%)]
  opacity-60
  animate-[wiping_1.2s_linear]
  
  after:content-[""]
  after:absolute
  after:top-[100%]
  after:bottom-0
  after:left-0
  after:w-full
  after:h-[25rem] /* Height of the wave effect */
  after:bg-no-repeat
  after:bg-cover
  after:bg-bottom;
}

.wiper::after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'><path fill='%23CDE6FB' fill-opacity='1' d='M0,96L34.3,112C68.6,128,137,160,206,165.3C274.3,171,343,149,411,133.3C480,117,549,107,617,117.3C685.7,128,754,160,823,165.3C891.4,171,960,149,1029,128C1097.1,107,1166,85,1234,74.7C1302.9,64,1371,64,1406,64L1440,64L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z'></path></svg>");
}

@keyframes wiping {
  0% {
    height: 0;
    opacity: 0.8;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    height: 120%;
    opacity: 0;
  }
}

/*========================================
  Click me button
========================================*/
.click-me {
  @apply block
  w-full
  h-full
  transition-opacity
  duration-600
  animate-[hithere_3s_ease_infinite];
}

.click-me-container {
  @apply fixed
  top-auto
  bottom-[3.3125rem]
  left-8
  w-[5.5rem]
  h-[5.5rem]
  inline-block
  z-[700]
  sm:w-[6.25rem]
  sm:h-[6.25rem];
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*========================================
  Close button
========================================*/
/* Zoom fix
   Updated .close-confetti-overlay */
.close-confetti-overlay {
  @apply fixed
  top-auto
  -bottom-[3.75rem]
  left-[calc(50%_-_1.875rem)]
  hidden
  justify-center
  items-center
  min-w-[3.75rem]
  min-h-[3.75rem]
  rounded-full
  bg-neutral-800
  text-white
  opacity-100
  shadow-[0.1875rem_0.125rem_1.375rem_0.0625rem_rgba(0,_0,_0,_0.24)]
  transition-all
  duration-200
  z-[1200]
  active:shadow-[0.4375rem_0.375rem_1.75rem_0.0625rem_rgba(0,_0,_0,_0.36)]
  active:text-2xl;
}

/* Zoom fix
   Updated .close-confetti-overlay */
@media (hover: hover) {
  .close-confetti-overlay {
    @apply hover:shadow-[0.4375rem_0.375rem_1.75rem_0.0625rem_rgba(0,_0,_0,_0.36)]
    hover:text-2xl;
  }
}

.close-confetti-overlay.animate-sliding-up {
  @apply animate-[SlidingUpButton_1s_ease_forwards];
}

.close-confetti-overlay.animate-sliding-down {
  @apply animate-[SlidingDownButton_800ms_ease_forwards];
}

@keyframes SlidingUpButton {
  0% {
    bottom: -3.75rem;
  }

  100% {
    bottom: 3.75rem;
  }
}

@keyframes SlidingDownButton {
  0% {
    bottom: 3.75rem;
  }

  100% {
    bottom: -3.75rem;
  }
}

/*========================================
  Stamps
========================================*/
.image-stamps {
  @apply absolute
  h-[6.25rem]
  w-auto
  opacity-100
  transition-opacity
  duration-200
  animate-[appear_1.1s_linear]
  z-[1000]
  select-none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*========================================
  Arms
========================================*/
/* Zoom fix
   Updated .stamper-container */
.stamper-container {
  @apply absolute
  top-0
  left-0
  right-0
  bottom-0
  hidden
  w-[min(100vw,_2560px)] /* Upper boundary limit */
  mx-auto /* Upper boundary limit */
  overflow-hidden
  cursor-pointer
  z-[1100];

  perspective: 18.75rem;
  /* Gives a 3D effect */
}

@keyframes stamp-motion {
  0% {
    transform: translateY(0) scale(1);
  }

  60% {
    transform: translateY(3.125rem) scale(0.8);
    /* Moves down and slightly enlarges */
  }

  80% {
    transform: translateY(3.125rem) scale(1);
    /* 'Presses' onto the paper */
    opacity: 1;
  }

  100% {
    transform: translateY(3.125rem) scale(1);
    opacity: 0;
  }
}

.stampers {
  @apply absolute
  z-[1100];
}

.stamper-marks-container {
  @apply absolute
  top-0
  left-0
  hidden
  w-[min(100vw,_2560px)] /* Upper boundary limit */
  mx-auto /* Upper boundary limit */
  overflow-hidden
  z-[1100]
  cursor-pointer;
}

.stamper-marks-container img {
  @apply w-[6.25rem]
  h-auto;
}

.top-arm,
.bottom-arm,
.left-arm,
.right-arm {
  @apply absolute
  animate-[tapEffect_2s_0.5s_forwards]
  transition-all
  duration-[1500ms]
  ease-[cubic-bezier(0.25,_0.2,_0.25,_1)]
  z-[1100]
  select-none;
}

.shadow-top,
.shadow-bottom,
.shadow-left,
.shadow-right {
  @apply absolute
  animate-[tapEffectShadow_2s_0.1s_forwards]
  ease-[cubic-bezier(0.25,_0.2,_0.25,_1)]
  transition-all
  duration-[1500ms]
  opacity-20
  z-[1000]
  select-none;
}

.shadow-top,
.shadow-bottom,
.top-arm,
.bottom-arm {
  @apply w-[13.75rem];
}

.shadow-left,
.shadow-right,
.left-arm,
.right-arm {
  @apply h-[13.75rem];
}

.left-arm,
.shadow-left {
  @apply origin-left;
}

.right-arm,
.shadow-right {
  @apply origin-right;
}

@keyframes tapEffect {
  0%,
  100% {
    transform: scale(1);
    /* Original state */
  }

  50% {
    transform: scale(0.97);
    /* Scale down (tap effect) */
  }
}

@keyframes tapEffectShadow {
  0%,
  100% {
    transform: scale(1);
    /* Scale down to 90% of original size */
    opacity: 0.2;
  }

  50% {
    transform: scale(0.97);
    /* Scale down to 90% of original size */
    opacity: 0;
  }
}
