@layer base {
  /*========================================
    Form elements
  ========================================*/
  input[type="date"],
  input[type="datetime-local"],
  input[type="emaill"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select,
  .select-field {
    @apply inline-flex
    items-center
    h-[3.25rem]
    px-4
    py-3
    bg-white
    border
    border-neutral-300
    outline-primary-200
    rounded-lg
    transition-all
    duration-200
    placeholder:text-neutral-500;
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="emaill"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  .form-select {
    @apply w-full
    max-w-[15rem];
  }

  input[type="reset"] {
    @apply cursor-pointer;
  }

  input[type="date"],
  input[type="datetime-local"] {
    @apply relative
    w-full
    appearance-none;
  }

  ::-webkit-calendar-picker-indicator {
    @apply absolute
    right-4;
  }

  /*========================================
    Select 
  ========================================*/
  select,
  .select-field {
    @apply justify-between
    whitespace-nowrap
    text-ellipsis
    overflow-hidden;
  }

  .select-field > span {
    @apply whitespace-nowrap
    text-ellipsis
    overflow-hidden;
  }

  select::-ms-expand {
    @apply hidden;
  }

  select option {
    @apply disabled:text-neutral-600;
  }

  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23151617' viewBox='0 0 320 512'%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.6875rem;
    background-position: top 0.9375rem right 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-select select {
  @apply hidden;
}

.form-select .dropdown-menu {
  @apply max-w-none;
}

.select-field {
  @apply w-full
  font-normal
  justify-start;
}

.select-field::after {
  @apply content-[""]
  relative
  -top-[0.0625rem]
  inline-block
  shrink-0
  w-[1.125rem]
  h-[1.125rem]
  bg-no-repeat
  origin-center
  transition-all
  duration-200;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23151617' viewBox='0 0 320 512'%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-field[aria-expanded="true"] {
  @apply after:rotate-180;
}

.select-label {
  @apply relative
  top-[0.3125rem]
  block
  items-center
  justify-start
  w-[calc(100%_-_1.125rem)]
  h-full
  pr-4
  whitespace-nowrap
  text-ellipsis
  text-left
  overflow-hidden;
}

.select-label.not-selected {
  @apply text-neutral-600;
}

@layer components {
  /*========================================
    Form elements
  ========================================*/
  .form-item input,
  .form-item textarea,
  .form-item select {
    @apply w-full;
  }

  /*========================================
    Label
  ========================================*/
  .form-label {
    @apply inline-block
    text-sm
    font-semibold;
  }

  .form-item .form-label {
    @apply ml-[0.125rem]
    mb-1;
  }

  .form-label ~ input,
  .form-label ~ select {
    @apply flex;
  }

  /*========================================
    Clear field button 'x'
  ========================================*/
  .form-clear-button {
    @apply hidden
    px-2
    h-[3.5rem]
    text-neutral-700
    opacity-50
    transition-all
    duration-200;
  }

  @media (hover: hover) {
    .form-clear-button {
      @apply [&:not([disabled])]:hover:opacity-100
      [&:not([disabled])]:hover:text-primary-500;
    }
  }

  /*========================================
    Search 
  ========================================*/
  .form-search {
    @apply flex
    items-center
    w-full
    px-2
    rounded-full
    border
    border-neutral-200
    bg-white
    overflow-hidden;
  }

  input.form-search-field {
    @apply grow
    h-[3.75rem]
    max-w-none
    px-0
    border-0
    outline-0
    bg-transparent
    max-lg:ml-5;

    outline: none;
  }

  .form-search-sm input.form-search-field {
    @apply h-12;
  }

  .form-search-sm .form-search-field {
    @apply max-lg:ml-2;
  }

  .filter-search-group .form-search {
    @apply w-[5rem]
    pl-4
    border-neutral-300
    transition-all
    duration-500;
  }

  @media (hover: hover) {
    .filter-search-group .form-search {
      @apply hover:pl-2
      hover:w-[15rem];
    }
  }

  .filter-search-group .form-search .form-search-field {
    @apply h-[3.25rem]
    w-full
    opacity-0
    font-semibold
    overflow-hidden
    transition-opacity
    duration-500;
  }

  @media (hover: hover) {
    .filter-search-group .form-search:hover .form-search-field {
      @apply opacity-100;
    }
  }

  .form-search-icon {
    @apply hidden 
    text-primary-500
    ml-4
    mr-2
    lg:inline-block;
  }

  .form-search-sm .form-search-icon {
    @apply inline-block
    ml-2;
  }

  .form-search .form-clear-button {
    @apply ml-4;
  }

  .form-search.form-search-sm .form-clear-button {
    @apply h-12
    mr-2;
  }

  .filter-search-group .form-search .form-clear-button {
    @apply mr-0
    opacity-0
    text-white
    w-10
    max-w-[2.5rem]
    min-w-[2.5rem]
    h-10;
  }

  @media (hover: hover) {
    .filter-search-group .form-search:hover .form-clear-button {
      @apply opacity-100;
    }
  }

  .form-search-button {
    @apply ml-4;
  }

  .form-search-button-label {
    @apply hidden
    md:inline-block;
  }

  .form-search-button-icon {
    @apply inline-block
    md:hidden;
  }

  .search-empty {
    @apply paragraph-2
    text-center
    pt-6
    sm:pt-8;
  }

  .side-nav-content .search-empty {
    @apply pt-0
    sm:pt-0
    lg:pt-8;
  }
}

/*========================================
  Checkbox / Radio
========================================*/
.form-check {
  @apply relative
  inline-flex
  items-start;
}

.form-check-label {
  @apply relative
  cursor-pointer
  transition-colors
  duration-200
  z-30;
}

.form-check-field:disabled ~ .form-check-label {
  @apply opacity-50;
}

.form-check-field:checked ~ .form-check-label {
  @apply font-semibold;
}

.form-check-field + .form-check-label {
  @apply pl-7;
}

.form-check-field-container-checkbox + .form-check-label,
.form-check-field-container-radio + .form-check-label {
  @apply pl-2;
}

.form-check-field {
  @apply absolute
  opacity-0
  z-20;
}

.form-check-field[disabled] .form-check-field-container-checkbox,
.form-check-field[disabled] .form-check-field-container-radio {
  @apply opacity-50;
}

.form-check-field,
.form-check-field-container-checkbox,
.form-check-field-container-radio {
  @apply top-[0.0625rem]
  w-5
  h-5
  min-w-[1.25rem]
  min-h-[1.25rem];
}

.form-check-field-container-checkbox,
.form-check-field-container-radio {
  @apply relative
  z-10
  
  before:content-[""]
  before:absolute
  before:top-[0.0625rem]
  before:left-0
  before:inline-block
  before:w-5
  before:h-5
  before:bg-white
  before:border-2
  before:border-neutral-300
  
  before:z-[1]
  before:transition-all
  before:duration-200
  
  after:content-[""]
  after:absolute
  after:inline-block
  after:z-[2]
  after:opacity-0
  after:transition-colors
  after:duration-200;
}

@media (hover: hover) {
  .form-check-field:hover ~ .form-check-field-container-checkbox,
  .form-check-field:hover ~ .form-check-field-container-radio {
    @apply [&:not([disabled])]:before:border-primary-500;
  }
}

.form-check-field:focus ~ .form-check-field-container-checkbox,
.form-check-field:focus ~ .form-check-field-container-radio {
  @apply before:ring-2
  before:ring-primary-500/30;
}

.form-check-field:checked ~ .form-check-field-container-checkbox,
.form-check-field:checked ~ .form-check-field-container-radio {
  @apply before:bg-primary-500
  before:border-primary-500
  
  after:opacity-100;
}

@media (hover: hover) {
  .form-check-field:checked ~ .form-check-field-container-checkbox,
  .form-check-field:checked ~ .form-check-field-container-radio {
    @apply [&:not([disabled])]:hover:before:bg-primary-400
  [&:not([disabled])]:hover:before:border-primary-400;
  }
}

.form-check-field-container-checkbox {
  @apply before:rounded-sm

  after:top-[0.25rem]
  after:left-[0.1875rem]
  after:w-3.5
  after:h-3.5
  after:bg-no-repeat
  after:bg-cover
  after:bg-center;
}

.form-check-field-container-checkbox::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.875rem' fill='%23fff' viewBox='0 0 448 512'%3E%3Cpath d='M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z'/%3E%3C/svg%3E");
}

.form-check-field-container-radio {
  @apply before:rounded-full

  after:top-[0.4375rem]
  after:left-[0.375rem]
  after:w-2
  after:h-2
  after:rounded-full
  after:bg-white;
}
