@layer base {
  /*========================================
    Link base
  ========================================*/
  a,
  .link,
  a.paragraph-1,
  a.paragraph-2,
  a.paragraph-3 {
    @apply text-link;
  }

  a,
  .link {
    @apply underline
    font-semibold
    outline-primary-200
    disabled:opacity-60;
  }

  @media (hover: hover) {
    a:hover,
    .link:hover,
    .card-hover:hover .link,
    a.card:hover .link {
      @apply [&:not([disabled])]:text-primary-300;
    }
  }

  a.external-link,
  .link.external-link {
    @apply after:bg-link
    after:top-[0.25rem];
  }
}

@layer utilities {
  /*========================================
    Darker link
  ========================================*/
  .link-darker {
    @apply text-primary-500
    underline
    font-semibold
    disabled:opacity-60;
  }

  @media (hover: hover) {
    .link-darker {
      @apply [&:not([disabled])]:hover:text-primary-400;
    }
  }

  /*========================================
    External link
  ========================================*/
  .external-link {
    @apply after:content-[""]
    after:relative
    after:top-0
    after:inline-block
    after:order-3
    after:w-[0.75rem]
    after:h-[1.rem]
    after:ml-1
    after:bg-contain
    after:bg-no-repeat
    after:bg-center
    after:bg-neutral-700

    after:shrink-0;
  }

  /* Zoom fix
      Updated "-webkit-mask-image" and "mask-image" */
  .external-link::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M328 96c13.3 0 24 10.7 24 24V360c0 13.3-10.7 24-24 24s-24-10.7-24-24V177.9L73 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231H88c-13.3 0-24-10.7-24-24s10.7-24 24-24H328z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M328 96c13.3 0 24 10.7 24 24V360c0 13.3-10.7 24-24 24s-24-10.7-24-24V177.9L73 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231H88c-13.3 0-24-10.7-24-24s10.7-24 24-24H328z'/%3E%3C/svg%3E");
  }

  .anchor-link {
    @apply relative
    top-0;
  }
}
