@layer components {
  /*========================================
    Penguin Carousel 
  ========================================*/
  .penguin-carousel-container {
    @apply relative
    overflow-visible
    w-full
    max-w-container
    mx-auto
    lg:-translate-x-[2.5rem]
    xl:-translate-x-[6rem];
  }

  .penguin-carousel {
    @apply flex
    transition-transform
    duration-500;
  }

  .penguin-card {
    @apply relative
    w-full
    min-w-full
    max-w-container
    opacity-60
    transition-all
    duration-300
    lg:-translate-x-[9rem]
    xl:-translate-x-[6rem];
  }

  .penguin-card.active {
    @apply opacity-100
    lg:translate-x-0;
  }

  .penguin-card .card {
    @apply rounded-none 
    border-none 
    bg-transparent 
    w-full
    overflow-visible;
  }

  .penguin-carousel > .penguin-card > .card {
    @apply max-lg:px-11
    lg:w-[calc(100%_-_13.75rem)]
    lg:ml-[13.75rem];
  }

  .penguin-card .card .card-content-horizontal {
    @apply border-l-0
    w-full
    md:grow-0;
  }

  .penguin-card .card .card-image {
    @apply relative 
    z-10 
    w-full
    h-auto
    aspect-auto
    bg-transparent
    block 
    transition-opacity
    duration-300
    md:grow-0
    max-lg:mt-4
    lg:absolute
    lg:top-18
    lg:-left-[13.75rem]
    lg:opacity-0

    before:hidden;
  }

  .penguin-card.active .card .card-image {
    @apply lg:opacity-100;
  }

  .penguin-card .card h2 {
    @apply w-full
    /* max-w-[21.875rem] */
    font-heading
    text-white
    text-h4-sm
    sm:text-h4
    lg:max-w-[25.5rem] /* Updated for sustainability */
    lg:mt-4; /* Updated for sustainability */
  }

  .penguin-card .card .card-footer {
    @apply p-0;
  }

  .penguin-card .card .card-image-text-title {
    @apply w-full
    mt-2
    text-sm 
    leading-normal
    opacity-80
    line-clamp-3
    transition-opacity
    duration-300
    lg:w-full
    lg:leading-5
    lg:mt-6
    lg:opacity-0;
  }

  .penguin-card.active .card .card-image-text-title {
    @apply lg:opacity-80;
  }

  .penguin-card .card .card-image-text::before {
    @apply hidden;
  }

  /* Fix - 26 Apr 2024: 5) White words overlap (SIT Analytics course - showcase)
     Updated .penguin-card .card .card-content */
  .penguin-card .card .card-content {
    @apply relative
    p-0
    w-full
    h-auto
    aspect-video
    overflow-hidden
    
    after:content-[""]
    after:hidden
    after:absolute
    after:top-0
    after:left-0
    after:w-full
    after:h-full
    after:z-10
    after:bg-[linear-gradient(270deg,_rgba(0,_0,_0,_0)_61.79%,_#000_105.9%)]
    lg:after:block;
  }

  .penguin-card .card .card-content > a {
    @apply w-full
    h-full;
  }

  .penguin-card .card .card-content img {
    @apply w-full
    h-full
    object-cover
    object-center;
  }

  .penguin-next,
  .penguin-prev {
    @apply box-border
    inline-flex
    items-center
    justify-center
    outline-primary-200
    text-base
    font-semibold
    leading-none
    no-underline
    shrink-0
    text-center
    break-words
    duration-200
    h-13
    px-6
    rounded-full
    outline-4
    bg-transparent
    border
    border-white
    text-white
    [&:not([disabled])]:cursor-pointer;

    word-break: break-word;
    transition-property: color, background-color, border-color, box-shadow,
      opacity;
  }

  @media (hover: hover) {
    .penguin-next,
    .penguin-prev {
      @apply [&:not([disabled])]:hover:bg-white
      [&:not([disabled])]:hover:text-primary-500
      [&:not([disabled])]:hover:border-primary-500;
    }
  }

  .penguin-next.disabled,
  .penguin-prev.disabled,
  .penguin-next[disabled],
  .penguin-prev[disabled] {
    @apply opacity-50
    text-neutral-400
    border-neutral-400
     cursor-default;
  }

  .mobile-penguin-arrows {
    @apply flex
    justify-center
    items-center
    gap-6
    pt-6
    w-full
    lg:hidden;
  }

  .penguin-carousel + .penguin-prev,
  .penguin-carousel + .penguin-prev + .penguin-next {
    @apply hidden
    absolute
    top-auto
    bottom-[8rem]
    lg:inline-flex;
  }

  .penguin-carousel + .penguin-prev + .penguin-next {
    @apply left-19;
  }
}
