.scene-one {
  @apply absolute
    top-0
    left-0
    flex
    items-center
    w-[min(100vw,_2560px)] /* Upper boundary limit */
    mx-auto /* Upper boundary limit */
    max-w-full
    justify-center
    pt-10;
}

.persona-selection-nyp-logo {
  @apply relative
    top-4
    left-6
    w-[9.625rem]
    max-lg:mb-10
    max-lg:top-5
    lg:absolute
    lg:w-[12rem];
}

.persona-selection-nyp-logo img {
  @apply w-full;
}

.card-deck {
  @apply relative
    bottom-[47%]
    left-6;
}

.persona-mini-card {
  @apply w-[12.5rem]
    h-[23rem]
    rounded-2xl
    overflow-hidden
    absolute
    top-0
    left-0;
}

.scene-1-text {
  @apply font-display 
    text-[4.625rem] 
    font-bold 
    leading-normal
    opacity-0;

  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.scene-1-text .special-text {
  @apply stroke-1 
    text-transparent;

  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: theme(colors.neutral.500);
}

/* Zoom fix
    Updated SlideFromTopWithFade */
@keyframes SlideFromTopWithFade {
  0% {
    opacity: 0;
    transform: translateY(-3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SimpleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Zoom fix
    Updated SlideFromTopWithFade */
@keyframes SlideUpWithFade {
  0% {
    opacity: 0;
    transform: translateY(3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeInCOne {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes RotateCtwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9.996deg);
  }
}

@keyframes RotateCthree {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15.995deg);
  }
}

@keyframes RotateCfour {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20.93deg);
  }
}

.welcome-text {
  animation-name: SlideFromTopWithFade;
}

.nanyang-text {
  animation-name: SimpleFadeIn;
  left: 6rem;
  position: relative;
}

.polytechnic-text {
  animation-name: SlideUpWithFade;
  left: 12rem;
  position: relative;
}

.persona-mini-card {
  @apply opacity-0
    origin-center;
}

.persona-mini-card.c-two,
.persona-mini-card.c-three,
.persona-mini-card.c-four {
  @apply rotate-0;
}

/* Zoom fix
    Updated slideOutRight */
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(25rem) scale(0.1);
    opacity: 0;
  }
}

@keyframes hideInstantly {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.persona-mini-card.c-one {
  @apply opacity-0 z-30;

  background: linear-gradient(
      180deg,
      #034ea2 8.88%,
      rgba(3, 78, 162, 0) 142.77%
    ),
    #fff;
  animation:
    FadeInCOne 0.8s 0.8s forwards,
    slideOutRight 0.5s 2.4s forwards;
}

/* Zoom fix
    .persona-mini-card.c-two */
.persona-mini-card.c-two {
  @apply z-20 -top-[1.25rem] left-[2.375rem];

  background: linear-gradient(
      180deg,
      #ed1c24 8.88%,
      rgba(237, 28, 36, 0) 142.77%
    ),
    #fff;
  animation:
    FadeIn 1s 1s forwards,
    RotateCtwo 0.2s 1s forwards,
    slideOutRight 0.5s 2.2s forwards;
}

/* Zoom fix
    .persona-mini-card.c-three */
.persona-mini-card.c-three {
  @apply z-10 -top-[3.125rem] left-[4.25rem];

  background: linear-gradient(
      180deg,
      #491e5e 29.7%,
      rgba(73, 30, 94, 0) 142.77%
    ),
    #fff;
  animation:
    FadeIn 1.2s 1.2s forwards,
    RotateCthree 0.2s 1.4s forwards,
    slideOutRight 0.5s 2s forwards;
}

/* Zoom fix
    .persona-mini-card.c-four */
.persona-mini-card.c-four {
  @apply z-0 -top-[4.375rem] left-[6.125rem];
  background: linear-gradient(
      180deg,
      #1d1e24 27.13%,
      rgba(29, 30, 36, 0) 141.8%
    ),
    #fff;
  animation:
    FadeIn 1.4s 1.4s forwards,
    RotateCfour 0.2s 1.6s forwards,
    slideOutRight 0.5s 1.8s forwards;
}

.persona-mini-card img {
  @apply h-[21.5rem] 
    absolute 
    -bottom-5
    right-0 
    object-none 
    w-full;
}

.scene-one-parent-text {
  animation-name: hideInstantly;
  animation-duration: 0.1s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

.scene-two {
  @apply flex
    items-center
    w-full
    h-full;
}

.scene-two-content {
  @apply flex 
    justify-center
    items-center
    w-full
    max-w-[26rem]
    mx-auto
    px-6
    py-20
    opacity-0;

  animation: SceneTwofadeIn 0.3s forwards;
  animation-delay: 2.8s;
}

.tall-card-group {
  @apply flex 
    w-auto;
}

.tall-card {
  @apply relative
    w-[10rem]
    min-w-[10rem]
    translate-y-0
    opacity-0
    cursor-pointer
    overflow-hidden
    xl:w-[13rem]
    xl:min-w-[13rem];
}

.tall-card {
  @apply hover:w-[15rem]
      hover:min-w-[15rem]
      xl:hover:w-[19rem]
      xl:hover:min-w-[19rem];
}

.tall-card-1 {
  background: linear-gradient(
      180deg,
      #034ea2 8.88%,
      rgba(3, 78, 162, 0) 142.77%
    ),
    #fff;
  animation: centerExpand 0.2s forwards;
  animation-delay: 2.8s;
}

.tall-card-2 {
  background: linear-gradient(
    180deg,
    #ed1c24 8.88%,
    rgba(237, 28, 36, 0) 142.77%
  );
  animation: centerExpand 0.2s forwards;
  animation-delay: 2.6s;
}

.tall-card-3 {
  background: linear-gradient(
      180deg,
      #491e5e 21.33%,
      rgba(39, 0, 59, 0) 155.46%
    ),
    #fff;
  animation: centerExpand 0.2s forwards;
  animation-delay: 2.4s;
}

.tall-card-4 {
  background: linear-gradient(
      180deg,
      #1d1e24 26.23%,
      rgba(29, 30, 36, 0) 141.8%
    ),
    #fff;

  animation: centerExpand 0.2s forwards;
  animation-delay: 2.2s;
}

.tall-card img {
  @apply absolute
    bottom-0
    w-[13rem]
    min-w-[13rem]
    h-auto
    max-xl:-ml-6;
}

.tall-card .img-hov {
  @apply hidden
    w-[19rem]
    min-w-[19rem]
    max-xl:-ml-8;
}

.tall-card .img-not-hov {
  @apply block;
}

.tall-card:hover .img-hov {
  @apply block;
}

.tall-card:hover .img-not-hov {
  @apply hidden;
}

.tall-card .overlay-three {
  background: linear-gradient(
    180deg,
    #0000 1.78%,
    #00000080 30.52%,
    #00000080 40.85%,
    #000000b3
  );
  @apply absolute z-10 left-0 bottom-0 right-0 w-full h-[60%];
}

.med-card .overlay-three {
  background: linear-gradient(
    180deg,
    #0000 1%,
    #00000080 98%,
    #00000080 90.85%,
    #000000b3
  );
  @apply absolute z-10 left-0 bottom-0 right-0 w-full h-[80%];
}

.overlay-two {
  @apply hidden;
}

.show-overlay {
  @apply block;
}

.tall-card-1 .overlay-two,
.tall-card-2 .overlay-two,
.tall-card-3 .overlay-two,
.tall-card-4 .overlay-two {
  @apply absolute z-40 left-0 top-0 bottom-0 right-0 w-full h-full bg-black/50;
}

@keyframes SceneTwofadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes centerExpand {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.tall-card-1 .overlay-two.overlay-visible,
.tall-card-2 .overlay-two.overlay-visible,
.tall-card-3 .overlay-two.overlay-visible,
.tall-card-4 .overlay-two.overlay-visible {
  @apply !block;
}

a.tall-card {
  @apply no-underline;
}

.tall-card h3 {
  @apply font-display
    text-3xl
    font-bold
    leading-[1.1]
    text-white
    mb-4;
}

.tall-card p {
  @apply font-heading
    text-base
    font-normal
    leading-loose
    text-white;
}

.tc-content {
  @apply relative
    flex
    flex-col
    justify-end
    h-[calc(100%_-_5.75rem)]
    px-6
    py-10
    z-30;
}

.tall-card button {
  @apply relative
    text-white
    flex
    justify-center
    items-center
    w-[3.25rem]
    h-[3.25rem]
    max-w-[3.25rem]
    max-h-[3.25rem]
    min-w-[3.25rem]
    min-h-[3.25rem]
    rounded-[50%]
    border
    border-white
    shadow-md
    ml-6
    mb-10
    z-30
    transition-all
    duration-300;
}

.tall-card h3,
.tall-card p,
.tall-card button {
  @apply hidden;
}

.tall-card:hover button {
  @apply text-primary-500
      bg-white;
}

.tall-card:hover h3,
.tall-card:hover p,
.tall-card:hover button {
  @apply block;
}

/* Zoom fix
    .tall-card h2 */
.tall-card h2 {
  @apply rotate-[270deg]
    origin-top-left
    tracking-[0.0625rem]
    absolute
    left-4
    top-[calc(100%_-_2.5rem)]
    font-display
    text-4xl
    font-bold
    leading-tight
    text-white
    min-w-full
    z-[100]
    whitespace-nowrap;
}

.tall-card:hover h2 {
  @apply !hidden;
}

.scene-two-content h2 {
  @apply text-3xl
    leading-normal;
}

.scene-two-content p {
  @apply text-lg
    leading-8;
}

.for-med-screens {
  @apply block
    lg:hidden;
}

.persona-other-screen-text {
  @apply block
    lg:hidden;
}

.persona-large-screen-text {
  @apply hidden
    lg:block;
}

.fr-desktop {
  @apply max-lg:hidden;
}

.med-head {
  @apply px-5 
    pb-7;
}

.med-head h1 {
  @apply text-h6
    font-bold 
    leading-8 
    text-neutral-700 
    mb-3;
}

.med-head p {
  @apply text-sm 
    font-normal 
    leading-normal 
    m-0 
    text-neutral-800;
}

.med-card {
  @apply relative 
      min-h-[8.125rem] 
      px-5 
      py-7 
      pr-20
      text-white;
}

.med-card-1 {
  background: linear-gradient(180deg, #034ea2 70%, rgba(3, 78, 162, 0) 250%),
    #fff;
}

.med-card-2 {
  background: linear-gradient(180deg, #ed1c24 70%, rgba(237, 28, 36, 0) 230%);
}

.med-card-3 {
  background: linear-gradient(180deg, #491e5e 70%, rgba(39, 0, 59, 0) 250%),
    #fff;
}

.med-card-4 {
  background: linear-gradient(180deg, #1d1e24 70%, rgba(39, 0, 59, 0) 250%),
    #fff;
}

.med-card img {
  @apply absolute
      bottom-0
      right-0
      h-full
      w-auto;
}

.med-card h2 {
  @apply text-[1.375rem]
      font-bold
      leading-7;
}

.med-card p {
  @apply text-sm 
      font-normal 
      leading-5 
      m-0 
      pr-36 
      lg:pr-[8.5rem];
}

@media (max-width: 380px) {
  .med-card p {
    @apply pr-24;
  }
  .med-card .heading-grp {
    @apply pr-24;
  }
}

.med-card .heading-grp {
  @apply flex items-center mb-2;
}

.med-card .heading-grp i {
  @apply mr-2;
}

.med-card i {
  @apply text-[1.5rem];
}

.med-card a {
  @apply absolute
      top-0
      left-0
      right-0
      bottom-0
      w-full
      h-full
      z-10;
}

.med-card-group {
  @apply grid
      grid-rows-3;
}

.med-card {
  @apply h-full;
}
