@layer components {
  .event-group-container {
    @apply flex
    flex-col
    items-start
    justify-start
    gap-6;
  }

  .event-group {
    @apply flex
    flex-col
    items-start
    gap-2
    max-xl:w-full
    xl:flex-row
    xl:items-center
    xl:gap-7;
  }

  .event-group-card {
    @apply flex
    items-center
    w-full
    py-4
    px-6
    gap-4
    bg-white
    shadow-sm
    border
    border-neutral-200
    rounded-2xl
    no-underline
    xl:w-auto;
  }

  .event-group-card img {
    @apply w-12
    h-12;
  }

  .event-group-card p {
    @apply m-0
    font-bold
    text-lg
    leading-loose;
  }

  .event-group-date {
    @apply whitespace-nowrap
    font-bold
    text-lg
    leading-loose
    w-[6.875rem]
    shrink-0
    xl:text-right;
  }
}
