/*========================================
  Section - Give, support education fund
========================================*/
@layer components {
  .education-fund-card {
    @apply flex
    relative
    flex-col
    w-full
    px-5
    py-6
    mb-4
    bg-white
    border
    border-neutral-200
    rounded-xl
    no-underline
    shadow-md
    sm:w-[calc(50%_-_0.75rem)]
    sm:mb-6
    sm:odd:mr-6
    sm:p-8;
  }

  .col-1 .education-fund-card,
  .col-2 .education-fund-card,
  .col-3 .education-fund-card,
  .col-4 .education-fund-card {
    @apply mr-0
    mb-0;
  }

  .education-fund-card-title {
    @apply text-primary-500
    font-bold;
  }

  .education-fund-card-description {
    @apply text-neutral-800;
  }

  .education-fund-card.w-footer .card-footer {
    @apply absolute bottom-0;
  }

  .education-fund-card.w-footer {
    @apply pb-[4.5rem] lg:pb-[5.5rem];
  }
}
