@layer components {
  .cet-info-list {
    @apply bg-primary-50
    py-14
    sm:py-20;
  }

  .cet-info-list-inner {
    @apply flex
    flex-col
    items-start
    gap-6
    w-full
    max-w-container-xl-p
    px-6
    mx-auto
    lg:flex-row
    lg:items-center
    lg:justify-between
    lg:gap-x-28;
  }

  .cet-info-list-content {
    @apply w-full
    max-w-[27.5rem];
  }

  .cet-info-list-description,
  .cet-info-list-description.paragraph-1,
  .cet-info-list-description.paragraph-2,
  .cet-info-list-description.paragraph-3 {
    @apply text-primary-700;
  }

  .cet-info-list-cards {
    @apply -mb-4
    w-full
    max-w-[32.8125rem];
  }

  .cet-info-list-card {
    @apply flex
    items-center
    gap-6
    w-full
    p-6
    mb-4
    bg-white
    rounded-xl
    shadow-lg
    sm:px-8;
  }

  .cet-info-list-card-icon {
    @apply h-6
    w-auto
    shrink-0;
  }

  .cet-info-list-card-icon img {
    @apply w-auto
    h-full;
  }
}
