.event-details-wrapper {
  @apply w-full
    pb-14
    sm:pb-20;
}

.event-details-content {
  @apply w-full 
    space-y-8
    lg:w-[calc(100%_-_26rem)]
    xl:lg:w-[calc(100%_-_30rem)];
}

.event-details-side {
  @apply w-full
    h-fit
    fixed
    top-auto
    bottom-0
    right-0
    float-right
    translate-y-0
    z-10
    will-change-transform
    lg:sticky
    lg:top-[5.75rem]
    lg:max-w-[22rem]
    xl:max-w-[26rem];
}

.event-details-side-card {
  @apply w-full
  border-0
  shadow-event-card
  max-lg:rounded-b-none
  max-lg:hidden
  lg:shadow-md;
}

.event-details-side-card .card-title,
.event-details-side-card .card-icon-label {
  @apply max-lg:hidden;
}

.event-details-side-card > .card-content > .button,
.event-details-side-card > .card-content > button {
  @apply max-lg:last:mt-0;
}
