@layer components {
  .annual-report {
    @apply px-6
    py-10
    bg-primary-600
    sm:py-14;
  }

  .annual-report-inner {
    @apply flex
    flex-col
    max-w-container-full-sm
    mx-auto
    text-center
    lg:flex-row
    lg:space-x-8
    lg:text-left;
  }

  .annual-report-content {
    @apply flex
    flex-col
    grow
    sm:items-center
    lg:flex-row;
  }

  .annual-report-icon {
    @apply inline-flex
    items-center
    justify-center
    shrink-0
    h-15
    max-lg:mb-4;
  }

  .annual-report-icon img {
    @apply h-full
    max-w-none;
  }

  .annual-report-content-text {
    @apply grow
    mb-6
    lg:mb-0
    lg:pr-8;
  }

  .annual-report-title {
    @apply text-white
    max-w-[47.6875rem];
  }

  .annual-report-description {
    @apply text-neutral-100
    max-w-[47.6875rem]
    !mt-2;
  }
}
