@layer components {
  .selection-card-empty {
    @apply flex
    flex-col
    items-center
    justify-center
    gap-4
    p-8
    bg-primary-50
    text-center;
  }

  /* 27 Feb 2024 
     Added .selection-card-empty > img */
  .selection-card-empty > img {
    @apply w-[9.875rem]
    h-auto;
  }

  .selection-card {
    @apply px-5
    py-6
    rounded-xl
    border
    border-neutral-200
    shadow-sm
    md:px-8
    md:py-8;
  }

  .selection-card .card {
    @apply border-none
    p-0
    rounded-none;
  }

  .selection-card .card .card-content {
    @apply p-0
    items-end
    justify-between
    md:flex;
  }

  .selection-card hr {
    @apply my-6 mx-0 md:my-8;
  }

  .selection-card .selection-card-option {
    @apply w-full;
  }

  .selection-card .selection-card-option .button-white-secondary {
    @apply shadow-none
    border-neutral-200
    text-neutral-800;
  }

  .selection-card .selection-card-option .button-white-secondary.active {
    @apply shadow-none
    border-secondary-600
    text-secondary-600;
  }

  @media (hover: hover) {
    .selection-card .selection-card-option .button-white-secondary:hover {
      @apply shadow-none
      border-secondary-600
      text-secondary-600;
    }
  }

  .selection-card .selection-card-option .button-white-secondary.active {
    @apply bg-secondary-50;
  }

  .selectionCard-image {
    @apply w-auto
    aspect-[initial];
  }

  .article-list-thumbnail-image.selectionCard-image {
    @apply min-w-full 
    min-h-full 
    max-h-full 
    max-w-full 
    md:!max-h-[13.875rem] 
    md:!min-h-[13.875rem] 
    md:!h-[13.875rem] 
    md:!max-w-[21.25rem] 
    md:!min-w-[21.25rem] 
    md:!w-[21.25rem];
  }

  .selection-card-result .article-list-thumbnail {
    @apply mt-[2.125rem]
    lg:mt-6;
  }

  .selection-card-result .article-list-thumbnail:first-of-type {
    @apply mt-6
    mb-0;
  }

  .selection-card-result .article-list-thumbnail-description {
    @apply line-clamp-3
    !mt-4;
  }

  .selection-card-result {
    @apply grid
    gap-6;
  }

  .selection-card-result .article-list-thumbnail {
    @apply grid md:flex gap-4 md:gap-8;
  }

  .selection-card-result .article-list-thumbnail-description.paragraph-3 {
    @apply !mt-2 md:!mt-4 text-base;
  }

  .selection-card-result .button-ghost-primary {
    @apply mt-4 md:mt-6;
  }

  .hidden-selection {
    @apply hidden;
  }

  .hidden-selection-2 {
    @apply hidden;
  }
}
