@layer components {
  .social-media-bar {
    @apply px-4
    py-14
    bg-neutral-50
    max-sm:w-full
    sm:fixed
    sm:top-auto
    sm:bottom-4
    sm:right-[6.3125rem]
    sm:px-6
    sm:py-2
    sm:rounded-lg
    sm:border
    sm:border-neutral-200
    sm:shadow-md
    sm:z-[800];
  }

  .social-media-bar-inner {
    @apply flex
    flex-col
    max-sm:max-w-container-full-sm
    max-sm:space-y-6
    max-sm:mx-auto
    max-sm:text-center
    sm:flex-row
    sm:items-center
    sm:space-x-4;
  }
  .social-media-bar-icons {
    @apply flex
    max-sm:flex-wrap
    max-sm:justify-center
    max-sm:-mb-4
    sm:space-x-4;
  }

  .social-media-bar-icon {
    @apply inline-flex
    flex-col
    items-center
    no-underline
    text-center
    max-sm:w-[calc(50%_-_0.5rem)]
    max-sm:py-4
    max-sm:px-5
    max-sm:mb-4
    max-sm:even:ml-4
    max-sm:bg-white
    max-sm:rounded-2xl
    max-sm:border
    max-sm:border-neutral-200
    max-sm:space-y-3;
  }

  .social-media-bar-icon-icon {
    @apply inline-flex
    h-8
    sm:items-center
    sm:justify-center
    sm:h-6;
  }

  .social-media-bar-icon-icon img {
    @apply h-full
    max-w-none;
  }

  .social-media-bar-icon-title,
  .social-media-bar-icon-description {
    @apply inline-block
    text-neutral-800;
  }

  .social-media-bar-icon-description {
    @apply font-normal;
  }
}
