@layer components {
  .staggered-wrapper {
    @apply w-full
    mt-4
    md:mt-6
    lg:mt-0
    lg:w-auto
    lg:ml-auto;
  }

  .staggered-cards {
    @apply w-full
    lg:w-auto
    lg:ml-auto;
  }

  .staggered-cards > ul {
    @apply mb-0
    flex
    gap-4
    md:gap-6
    max-lg:flex-wrap
    lg:gap-0
    lg:flex-col
    lg:items-end;
  }

  .staggered-cards > ul > li {
    @apply relative
    w-full
    sm:w-[calc(50%_-_0.75rem)]
    lg:w-auto
    lg:even:mr-[27.5rem]
    lg:mt-14
    lg:first:mt-0
    lg:[&:nth-child(2n)]:-mt-24
    lg:[&:nth-child(3n)]:mt-14
    lg:[&:nth-child(3n)]:mr-[10.25rem]
    lg:[&:nth-child(3n_+_1)]:mt-14
    lg:[&:nth-child(3n_+_2)]:-mt-24;
  }

  .staggered-cards .card {
    @apply relative
    w-full
    h-full
    border-none
    no-underline
    text-white
    [&:not([disabled])]:hover:text-white
    lg:h-auto
    lg:max-w-[26rem]
    lg:min-h-[18.75rem]
    hover:!shadow-none
    
    before:content-[""]
    before:absolute
    before:top-0
    before:left-0
    before:block
    before:w-full
    before:h-full
    before:z-10

    after:content-[""]
    after:absolute
    after:top-0
    after:left-0
    after:block
    after:w-full
    after:h-full
    after:bg-black
    after:z-10
    after:transition-opacity
    after:duration-200
    after:opacity-60
    lg:after:opacity-0
    lg:hover:after:opacity-60;
  }

  .staggered-cards .card::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.7) 14.69%,
      rgba(0, 0, 0, 0.34) 32.45%,
      rgba(0, 0, 0, 0) 43.39%,
      rgba(0, 0, 0, 0) 67.29%,
      rgba(0, 0, 0, 0.4) 86.51%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .staggered-cards .card-lg .card-content,
  .staggered-cards .card-footer {
    @apply relative
    z-20;
  }

  .staggered-cards .card-description {
    @apply font-normal
    text-white;
  }

  .staggered-cards .card-description {
    @apply font-normal
    text-white;
  }

  .staggered-cards .card-title + .card-description {
    @apply mt-4;
  }

  .staggered-cards .card-footer .button-text,
  .staggered-cards .card-description {
    @apply lg:opacity-0
    transition-all
    duration-200;
  }

  /* Fix - 01 May 2024 - IP homepage capabilities cards buttons to turn white on tap for touch devices
     Updated .staggered-cards .button-white-ghost-primary */
  /* .staggered-cards .card:active .button-white-ghost-primary {
    @apply max-lg:bg-white
    max-lg:text-primary-500
    max-lg:shadow-lg;
  } */

  /* Fix - 01 May 2024 - IP homepage capabilities cards buttons to turn white on tap for touch devices
     Updated media query */
  @media (hover: hover) {
    .staggered-cards .button-white-ghost-primary {
      @apply max-lg:bg-transparent
      max-lg:text-white
      max-lg:shadow-none;
    }
  }

  .staggered-cards .card:hover .button-white-ghost-primary + .button-text,
  .staggered-cards .card:hover .card-description {
    @apply opacity-100
    text-white;
  }

  .staggered-cards .card > img {
    @apply absolute
    top-0
    left-0
    h-full
    w-full
    object-cover
    object-center
    transition-transform
    duration-500
    z-0;
  }

  .staggered-cards .card:hover > img {
    @apply scale-110;
  }

  .no-in-small {
    @apply max-lg:hidden;
  }
}
