@layer components {
  .four-circles {
    @apply text-white
    max-w-[100vw]
    px-8
    overflow-hidden;
  }

  .four-circles__inner {
    @apply flex
    gap-8
    items-center
    justify-start
    w-full
    max-w-container-full-sm
    py-10
    mx-auto
    /* sm:py-[5.3125rem] */
    max-lg:flex-col
    max-lg:text-center
    lg:justify-between
    lg:gap-15
    xl:gap-[6rem];
  }

  .four-circles__intro__content {
    @apply relative
    flex
    flex-col
    gap-4
    w-full
    max-w-[28.75rem]
    z-20
    max-lg:items-center
    max-lg:text-center
    lg:gap-6;
  }

  .four-circles__chart {
    @apply relative
    w-[calc(100%_-_0.5rem)]
    max-w-[30rem]
    shrink-0
    aspect-[1.07_/_1]
    z-10
    lg:aspect-[1.1168_/_1]
    lg:-mt-7
    max-lg:mx-auto
    xl:max-w-[41.8125rem];
  }

  .four-circles__chart__item {
    @apply absolute
    flex
    border
    border-[var(--green-500)]
    rounded-full
    w-[47.085%]
    aspect-square
    z-10
    lg:border-2;
  }

  .four-circles__chart__item:first-child {
    @apply top-[3.886%]
    left-[27.055%]
    z-20;
  }

  .four-circles__chart__item:nth-child(2n) {
    @apply items-center
  top-[22.627%]
  left-[9.566%];
  }

  .four-circles__chart__item:nth-child(3n) {
    @apply items-center
    top-[22.627%]
    left-auto
    right-[9.566%];
  }

  .four-circles__chart__item:nth-child(4n) {
    @apply items-end
    top-auto
    bottom-[3.886%]
    left-[27.055%];
  }

  .four-circles__chart__item__content {
    @apply flex
    flex-col
    items-center
    text-center
    w-[min(11rem,_80%)]
    mx-auto
    lg:w-[min(11.25rem,_80%)];
  }

  .four-circles__chart__item:first-child .four-circles__chart__item__content {
    @apply -mt-8;
  }

  .four-circles__chart__item:nth-child(2n) .four-circles__chart__item__content {
    @apply -ml-[min(5.625rem,_40%)];
  }

  .four-circles__chart__item:nth-child(3n) .four-circles__chart__item__content {
    @apply -mr-[min(5.625rem,_40%)];
  }

  .four-circles__chart__item:nth-child(4n) .four-circles__chart__item__content {
    @apply ml-auto
  -mb-6;
  }

  .four-circles__chart__item__image {
    @apply absolute
    w-full
    aspect-square
    rounded-full
    overflow-hidden
    scale-0
    opacity-5
    transition-[opacity,_transform]
    duration-400
    ease-in-out

    after:content-[""]
    after:block
    after:absolute
    after:left-0
    after:top-0
    after:w-full
    after:h-full
    after:z-10;
  }

  .four-circles__chart__item__image::after {
    background: radial-gradient(
      49.39% 49.39% at 53.85% 32.31%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .four-circles__chart__item__image img {
    @apply w-full
    object-cover
    object-center;
  }

  .four-circles__chart__item:first-child .four-circles__chart__item__image {
    @apply mt-8;
  }

  .four-circles__chart__item:nth-child(2n) .four-circles__chart__item__image {
    @apply ml-[min(5.375rem,_27.055%)]
    top-0
    -left-[27.055%];
  }

  .four-circles__chart__item:nth-child(3n) .four-circles__chart__item__image {
    @apply mr-[min(5.375rem,_27.055%)]
    top-0
    left-auto
    -right-[27.055%];
  }

  .four-circles__chart__item:nth-child(4n) .four-circles__chart__item__image {
    @apply mt-auto
    mb-[min(0.75rem,_3.886%)]
    top-auto
    -bottom-[3.886%]
    -left-[27.055%];
  }

  .four-circles__chart__item__content > span,
  .four-circles__chart__item__content > button {
    @apply z-20;
  }

  .four-circles__chart__item__content > span {
    --four-circles-outline-color: theme(colors.primary.600);

    -webkit-text-stroke: 5px var(--four-circles-outline-color);
    paint-order: stroke fill;

    @apply z-10
    xs:px-3;
  }

  .four-circles__chart__item__content > button {
    @apply relative
    z-20;
  }

  .four-circles__mobile-text {
    @apply w-full
    text-center;
  }

  @media (hover: hover) {
    .four-circles__chart__item {
      @apply hover:z-20;
    }

    .four-circles__chart__item__content
      > button:hover
      ~ .four-circles__chart__item__image {
      @apply scale-100
      opacity-100;
    }

    .four-circles__mobile-text {
      @apply hidden;
    }
  }

  .four-circles__chart__intersection {
    @apply absolute
    w-[11.958%]
    h-[11.509%]
    left-[44.1%]
    top-[33%]
    scale-y-[1.5]
    scale-x-[1.35]
    lg:left-[44%]
    lg:top-[32%]
    lg:scale-y-[1.25]
    lg:scale-x-[1.2];
  }

  .green-blob {
    --green-blob-size-sm: 30rem;
    --green-blob-size-md: 30rem;
    --green-blob-size: 41.8125rem;

    @apply 
    max-w-full
    aspect-[1.1168_/_1]
    w-[var(--green-blob-size-sm)]
    lg:w-[var(--green-blob-size-md)]
    xl:w-[var(--green-blob-size)];
  }

  .four-circles__chart .sustainability-green-blob {
    @apply absolute
    -top-[10%]
    scale-0
    z-0;
  }

  .sustainability-green-blob--fixed {
    @apply fixed
    z-[100]
    w-[var(--green-blob-size-sm)]
    h-[var(--green-blob-size-sm)]
    left-[calc(50dvw_-_15rem)]
    top-[calc(30dvh_-_15rem)]

    lg:w-[var(--green-blob-size-md)]
    lg:h-[var(--green-blob-size-md)]
    lg:left-[calc(50dvw_-_15rem)]
    lg:top-[calc(30dvh_-_15rem)]

    xl:w-[var(--green-blob-size)]
    xl:h-[var(--green-blob-size)]
    xl:left-[calc(50dvw_-_20.90625rem)]
    xl:top-[calc(30dvh_-_20.90625rem)];
  }

  .sustainability-green-blob--fixed .green-blob {
    @apply scale-100;
  }

  .four-circles__headline {
    @apply flex
    items-center
    justify-center
    w-full
    /* w-[calc(100%_-_3rem)] */
    absolute
    opacity-0
    translate-y-[10rem]
    mt-[20rem]
    /* -ml-8 */
    -z-10;
  }
}
