@layer components {
  .switch-role {
    @apply fixed
    top-0
    left-0
    w-[min(100vw,_2560px)] /* Upper boundary limit */
    mx-auto /* Upper boundary limit */
    h-full
    bg-black/60
    transition-opacity
    duration-300
    z-[2000];
  }

  .switch-role-inner {
    @apply flex
    flex-col
    items-end
    w-full
    max-w-container-full
    px-6
    mx-auto;
  }

  .switch-role-navbutton {
    @apply flex
    items-center
    justify-end
    w-full
    h-17
    pr-15
    sm:pr-13
    lg:pr-15;
  }

  .switch-role-navbutton .navbar-dropdown-button {
    @apply ring-4
    ring-white/20;
  }

  .switch-role-dialog {
    @apply relative
    w-full
    max-w-[25.5rem]
    mt-[0.625rem]
    bg-white
    shadow-md
    rounded-lg
    z-[1]
    
    before:content-[""]
    before:absolute
    before:w-[0.875rem]
    before:h-[0.625rem]
    before:-top-[0.5625rem]
    before:right-22
    before:bg-white
    before:bg-no-repeat
    before:bg-center
    before:bg-contain
    before:z-[2];
  }

  /* Zoom fix
     Updated "-webkit-mask-image" and "mask-image" */
  .switch-role-dialog::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L13.9282 9.75H0.0717969L7 0Z' fill='white'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L13.9282 9.75H0.0717969L7 0Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  .switch-role-content {
    @apply p-8;
  }

  .switch-role-content h1 + p,
  .switch-role-content h2 + p,
  .switch-role-content h3 + p,
  .switch-role-content h4 + p,
  .switch-role-content h5 + p,
  .switch-role-content h6 + p,
  .switch-role-content .h1 + p,
  .switch-role-content .h2 + p,
  .switch-role-content .h3 + p,
  .switch-role-content .h4 + p,
  .switch-role-content .h5 + p,
  .switch-role-content .h6 + p {
    @apply mt-2;
  }

  .switch-role-footer {
    @apply flex
    justify-end
    px-8
    pb-8;
  }
}
