@layer components {
  .filter-search-group {
    @apply py-4
    sticky
    -top-[0.125rem]
    z-50;
  }

  .filter-search-group-inner {
    @apply block 
    w-full
    max-w-container-full-sm-p
    px-6
    mx-auto
    lg:space-x-4
    lg:flex
    lg:items-start;
  }

  .filter-search-group-right {
    @apply flex
    items-start
    w-full
    grow;
  }

  .filter-search-group-right > * {
    @apply mr-4
    last:mr-0;
  }

  .filter-search-group-left {
    @apply shrink-0
    max-lg:hidden;
  }

  .filter-search-group select,
  .filter-search-group .form-select {
    @apply w-full
    max-lg:max-w-none;
  }

  .filter-search-group .search-collapse {
    height: 3.25rem !important;
    border-width: 0.0625rem !important;
  }

  .tabs.tabs-variant-1,
  .tabs.tabs-variant-2 {
    @apply gap-4;
  }

  .tabs.tabs-variant-2 {
    @apply flex
    items-center
    justify-center;
  }

  .scrollable-tabs {
    @apply w-auto
    max-w-[min(100vw,_2560px)] /* Upper boundary limit */
    overflow-auto
    inline-flex
    justify-start
    mx-auto;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollable-tabs::-webkit-scrollbar {
    @apply hidden; /* Safari and Chrome */
  }

  /* Fix - 01 May 2024 
     Added smotth scroll */
  .scrollable-tabs:not(.lenis) {
    scroll-behavior: smooth;
  }

  .tabs.tabs-variant-1 > li > a {
    @apply text-base
    text-neutral-800
    whitespace-nowrap
    no-underline
    px-[1.625rem]
    rounded-full
    border
    border-neutral-300
    font-semibold
    min-w-[5.625rem]
    bg-white
    h-13
    inline-flex
    items-center
    justify-center;
  }

  .tabs.tabs-variant-2 > li > a {
    @apply text-base
    text-white
    whitespace-nowrap
    no-underline
    px-[1.625rem]
    rounded-full
    border
    border-neutral-200
    font-semibold
    min-w-[5.625rem]
    bg-transparent
    h-13
    inline-flex
    items-center
    justify-center;
  }

  @media (hover: hover) {
    .tabs > li > a:hover {
      @apply text-secondary-600;
    }
  }

  .tabs.tabs-variant-1 > li > a.active {
    @apply text-secondary-600
        border-secondary-600
        bg-secondary-50
        whitespace-nowrap
        overflow-hidden
        text-ellipsis;
  }

  @media (hover: hover) {
    .tabs.tabs-variant-2 > li > a:hover {
      @apply border-white cursor-pointer bg-white !text-secondary-500;
    }
  }

  .tabs-variant-2 > li > a.active {
    @apply text-secondary-500
    border-white
    bg-white
    whitespace-nowrap
    overflow-hidden
    text-ellipsis;
  }

  .tabs.tabs-variant-2 > li > a {
    @apply transition-all
    duration-300;
  }

  @media (hover: hover) {
    .tabs.tabs-variant-2 > li > a:hover {
      @apply text-white stroke-1;
    }
  }

  .search-result-indicator {
    @apply block
        max-w-container-full-sm-p
        px-6
        pt-4
        pb-4
        mx-auto
        lg:hidden;
  }
}
